.map-widget {
    height: 100%;
    width: 100%;
}

.map-widget .popover .navbar-text {
    margin-right: 0;
    margin-left: 0;
}
.map-widget .popover {
    min-height: 300px;
    min-width: 400px;
}