<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <p  class="navbar-text">
            {{ features[selected].title }}
            </p>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="closePopup()"><i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="features.length > 1">
            <li><a href="#" ng-click="goPrev()"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
            <li><p  class="navbar-text">{{ selected + 1 }} of {{ features.length }}</p></li>
            <li><a href="#" ng-click="goNext()"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
        </ul>
    </div>
</nav>
<div style="padding: 5px 0;" class="table-responsive">
    <table class="table table-bordered table-condensed table-striped">
        <tbody>
            <tr ng-repeat="property in features[selected].properties">
                <th>{{ property.name }}</th>
                <td>{{ property.value }}</td>
            </tr>
        </tbody>
    </table>
</div>
