<div layout="column">
    <md-checkbox ng-model="instanceObj.config.showZoombar" aria-label="Show Zoombar">Show Zoombar</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showLayerSwitcher" aria-label="Show Zoombar">Show Layer Switcher</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showBasemapSwitcher" aria-label="Show Zoombar">Show Basemap Switcher</md-checkbox>
    <md-checkbox ng-model="instanceObj.config.showLegend" aria-label="Show Legend">Show Legend</md-checkbox>
</div>