<div class="form-group">
    <label>Map</label>

    <md-card ng-if="selected.map" style="width: 400px;">
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-md card-media">
                    <img ng-src="{{ selected.map.thumbnail_url }}">
                </div>
            </md-card-title-media>
            <md-card-title-text style="padding-left: 10px;">
                <span class="md-headline">{{ selected.map.title }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="openMapsSelector()">Change</md-button>
        </md-card-actions>
    </md-card>
    <md-button class="md-raised md-primary" ng-click="openMapsSelector()" ng-if="!selected.map">Select</md-button>

</div>