ul{
    list-style: none;
}
.toolbar {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.navbar-inverse, .home .navbar-inverse {
    background-color: #343a40;
}

.navbar-inverse .navbar-nav li .apps-collection {
    font-size: 22px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-inverse .navbar-nav li .dropdown-avatar {
    min-width: 10rem;
    width: 410px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 0 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
}

.navbar-inverse .navbar-nav > li > a{
    color: #bebebf;
    display: flex;
    align-items: center;
}

.navbar-inverse .navbar-nav > li > a.apps-dropdown{
    padding-top: 20px;
    padding-bottom: 16px;
}

.navbar-inverse .navbar-header{
    color: #bebebf;
}

.navbar-header .navbar-brand{
    padding: 20px 0 20px;
    width: 100%;
    background-position: left;
    text-indent: unset;
    display: flex;
}

.navbar-header .navbar-brand.no-logo{
    background-image: none;
}

.navbar-header .navbar-brand.no-logo a:first-of-type{
    padding-left: 0;
}

.navbar-header .navbar-brand a{
    text-decoration: unset;
    color: #bebebf;
}
.navbar-header .navbar-brand a.brand-link{
    font-size: 36px;
    padding-left: 80px;
}

.navbar-inverse .apps-mobile {
    display: none;

}

.navbar-inverse .navbar-nav li a i {
    margin: 0 5px;
}

.navbar-nav .search{
    top: unset;
    font-size: 16px;
}

.navbar-nav .search input , .navbar-nav .search #text_search_input{
    /*width: 40vw;*/
    height: 40px;
}

.search #text_search_btn{
    padding: 0;
    border-radius: 5px 0 0 5px;
    width: 30px;
    height: 100%;
    left: 1px;
    position: absolute;
    background-color: transparent;
}

.navbar-nav .search  .fa-search{
    top: 12px;
}

.search #text_search_btn .fa-search{
    position: relative;
    left: unset;
    top: unset;
}

.search .autocomplete-input .ac-results{
    width: 100%;
}

.autocomplete-input .ac-results .result-wrapper .ac-result{
    display: block;
}

.navbar-nav .dropdown-menu {
    background-color: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: unset;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: unset;
}

.apps-drop {
    max-height: 300px;
    overflow-y: auto;
}

li.open .apps-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-right: 16px;
    text-align: center;
    border-radius: 0.25rem;
    width: 350px;
    margin-top: 5px;
}

.apps-icons li {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    margin: 7px 5px;
    border-radius: 5px;
}

.apps-icons li img {
    padding-bottom: 10px;
    width: 20px;
}

.apps-icons li i {
    font-size: 20px;
    margin-bottom: 10px;
}

.apps-icons hr{
    width: 100%;
}

.navbar-nav .dropdown-menu li a {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav .dropdown-menu li a span{
    word-wrap: break-word;
}

.navbar-nav .dropdown-menu a {
    color: #404040;

}

/* width */
.apps-drop::-webkit-scrollbar, .auto-complete-box::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.apps-drop::-webkit-scrollbar-track, .auto-complete-box::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.apps-drop::-webkit-scrollbar-thumb, .auto-complete-box::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

li.logout {
    background: #343a40;
    padding: 5px 0;
    width: 100%;
}

.navbar-nav .dropdown-menu li.logout a {
    color: #d9d9d9;
    text-transform: capitalize;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
}
.navbar-nav .dropdown-menu li.logout a img {
    padding: 0 5px;
}
.navbar-nav .dropdown-menu li a:hover {
    background-color: transparent;
    color: #2c689c;
}
.navbar-nav .dropdown-menu li:hover {
    background: #2c689c21;
}
.navbar-nav .dropdown-menu li a:hover .apps-icons li img{
    border-radius: 5;
}

.navbar-nav .dropdown-menu li.logout a:hover {
    color: #fff;
    background-color: unset;
}

.fa-th {
    margin-right: 10px
}
/* ------------------------------  avatar dropdown ------------------*/
li.open .dropdown-avatar {
    display: flex;
    margin-top: 10px;
}
.navbar-inverse .navbar-nav li .dropdown-avatar .user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-inverse .navbar-nav li .dropdown-avatar .user-info .user-pic{
    background-image: url("../../img/icons/default.png");
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    border: 3px solid #2c689c;
}
.navbar-inverse .navbar-nav li .dropdown-avatar .user-info .user-name{
    font-size: 18px;
    text-transform: capitalize;
    color: #2c689c;
}
.navbar-inverse .navbar-nav li .dropdown-avatar li .quickly-links{
    list-style: none;
    padding: 0 0 10px 0;
}
.navbar-inverse .navbar-nav li .dropdown-avatar li .quickly-links li{
    padding: 5px 0;
}
.navbar-nav .dropdown-avatar li .quickly-links li a{
    text-align: left;
    align-items: flex-start;
    position: relative;

}
.navbar-nav .dropdown-avatar li .quickly-links li a::before{
    font-family: 'FontAwesome';
    content: "\f178";
    position: absolute;
    right: 0;
    display: none;
    top: 0;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: right;
    transition-property: right;
}
.navbar-nav .dropdown-avatar li .quickly-links li a:hover{
    color: #2c689c;
}
.navbar-nav .dropdown-avatar li .quickly-links li a:hover::before{
    display: block;
    right: -40px; 
}

/* ------------------------------  inner pages ------------------*/
.page-header{
    min-height: 50px;
}

.page-header a.btn{
    margin-left: 20px;
}

.data .container-fluid.page-header{
    min-height: 100px;
}
/*-------------------------------  end inner pages --------------*/

/*-------------------------------  maps -------------------------*/
.maps .navbar-brand{
    background-image: url("../../img/icons/map-black.png");
}
/*------------------------------- end maps-----------------------*/

/*-------------------------------  layers -------------------------*/
.layers .navbar-brand{
    background-image: url("../../img/icons/layers.png");
}
/*------------------------------- end layers-----------------------*/

/*-------------------------------  remote services -------------------------*/
.remote-services .navbar-brand{
    background-image: url("../../img/icons/remote-services.svg");
}
/*------------------------------- end remote services-----------------------*/

/*-------------------------------  documents -------------------------*/
.documents .navbar-brand{
    background-image: url("../../img/icons/docs.png");
}
/*------------------------------- end documents-----------------------*/

/*-------------------------------  search -------------------------*/
.search .navbar-brand{
    background-image: url("../../img/icons/search.png");
}
/*------------------------------- end search-----------------------*/

/*-------------------------------  people -------------------------*/
.people .navbar-brand{
    background-image: url("../../img/icons/users.svg");
}
/*------------------------------- end people-----------------------*/

/*-------------------------------  groups -------------------------*/
.groups .navbar-brand{
    background-image: url("../../img/icons/groups.svg");
}
/*------------------------------- end groups-----------------------*/

/*-------------------------------  announcements -------------------------*/
.announcements .navbar-brand{
    background-image: url("../../img/icons/announcement.svg");
}
/*------------------------------- end groups-----------------------*/

@media (min-width: 992px){
    .navbar-header{
        max-width: 33vw;
        min-width: 20vw;
    }

    .navbar-nav .search input, .navbar-nav .search #text_search_input {
        width: 35vw;
    }

    .navbar-nav .search input:focus {
        width: 35vw;
    }

    #navbar .navbar-left {
        min-width: 30vw;
        height: 72px;
        display: flex;
        justify-content: space-around;

    }

    #navbar .navbar-left li:first-of-type {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 24px;
        color: white;
    }
}

@media (max-width: 991px) {
    body {
        padding: 0;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-inverse .navbar-brand {
        width: 90%;
    }

    .search, .search .autocomplete-input{
        width: 100%;
    }

    .navbar-inverse .apps-mobile {
        display: block;
    }

    .apps-mobile span {
        display: none;
    }

    .autocomplete-input .ac-results {
        width: 100%;
    }


    .navbar-inverse .navbar-nav li .dropdown-avatar {
        margin-top: 0;
        left: 0;
    }

    .navbar-inverse .navbar-nav li .apps-dropdown {
        display: none;
    }

    ul.nav.navbar-nav.navbar-right {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 0;
    }

    .navbar-inverse .navbar-nav .search {
        padding-bottom: 0;
        margin-right: 0;
    }

    .navbar-inverse .navbar-nav > li > a{
        padding: 15px 0;
    }

    li.open .apps-icons {
        left: 0;
    }

    .open > .dropdown-menu.mobile {
        right: 0px;
        justify-content: space-between;
    }

    .navbar-inverse .navbar-nav li .dropdown-avatar::before, .navbar-inverse .navbar-nav li .apps-icons::before {
        display: none;
    }

    .dropdown-menu.mobile {
        padding-top: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        left: unset;
        right: -320px;
        top: 65px;
        width: 320px;
        text-align: center;
        float: unset;
        min-height: 500px;
        height: 100vh;
        margin: 0;
        transition: 0.5s ease;
    }

    .apps-icons.mobile li {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .apps-icons.mobile li a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .avatar img {
        margin: 0 10px 0 0;
    }
}

@media (max-width: 767px) {
    .navbar-nav > li {
        width: 100%;
    }

    ul.nav.navbar-nav.navbar-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-inverse .navbar-nav .search {
        right: unset;
        margin-right: 0;
    }

    .navbar-inverse .navbar-nav li a.avatar img {
        margin-left: 0;

    }

    .navbar-nav .open .dropdown-menu {
        background-color: #fff;
    }

    .navbar-inverse .navbar-nav li .dropdown-avatar {
        width: 100%;
    }

    .navbar-inverse .navbar-nav > li > a.apps-dropdown {
        padding-left: 0;
    }

}

.navbar-collapse {
    justify-content: space-between;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
}

.nav-link i {
    margin-right: 5px;

}

@media (max-width: 540px) {
    .navbar-inverse .navbar-brand {
        width: 70%;
    }
}