html, body, .full-height{
    height: 100%;
    padding: 0;
    overflow: hidden;
}
.ol3-map{
    position: relative;
    height: 100%;
    width: 100%;

}

.map-widget .popup-popover .navbar-text {
    margin-right: 0;
    margin-left: 0;
}
.map-widget .popup-popover .table-responsive{
    max-height: 150px;
}

.map-widget .popup-popover {
    min-height: 300px;
    max-height: 300px;
    min-width: 400px;
}
.layers-switcher button{
    padding-top: 2px;
}
.layers-switcher{
    top: 70px;
    right: .5em;
}

.ol-control button:hover, .ol-control button:focus {
    background-color: #f4f4f4;
}
.ol-control button{
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: block;
    color: black;
    background-color: #fff;
    border-width: 0;
}
.ol-zoom.ol-unselectable.ol-control .ol-zoom-in,
.ol-zoom.ol-unselectable.ol-control .ol-zoom-out {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.ol-zoom .ol-zoom-out{
    font-size: 18px;
    border-radius: 0 0 4px 4px;
}
.ol-zoom .ol-zoom-in{
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    font-size: 20px;
}
.ol-zoom.ol-unselectable.ol-control{
    top:10px;
    right:.5em;
    left: initial;

}
.ol-control{
    padding:0;
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
    border-radius: 4px;
}
.ol-scale-line.ol-unselectable{
    background-color: rgba(255, 255, 255, 0.8);
}


.menu-toggle-btn{
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 9999;
}


.zoombar{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.zoombar md-list-item{
    min-height: 1px;
}
.zoombar md-list{
    padding: 0;
}
.zoombar .md-button{
    min-width: 30px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    line-height: 30px;
    min-height: 30px;
}