{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Workspace" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
    <style>
        .buttons {
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="page-header">
        <a class="btn button_shadow btn-primary " style="color: white;margin-right: 10px"
           href="{% url 'user-activity' actor=request.user.username %}"
           role="button">
            Activities
        </a>

        <a class="btn button_shadow btn-primary " style="color: white;margin-right: 10px"
           href="{% url 'profile_detail' username=request.user.username %}"
           role="button">
            Profile
        </a>
        <a class="btn button_shadow btn-primary " style="color: white;margin-right: 10px"
           href="{% url 'messages_inbox' %}"
           role="button">
            Inbox
        </a>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid" ng-app="workspace">
            <div class="row">
                <h3>Apps</h3>
                {% if my_apps.all.count != 0 %}
                    {% for app in my_apps.all|slice:":3" %}
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img ng-src="{{ app.map.get_thumbnail_url }}"
                                     fallback-src="{{ STATIC_URL }}{{ app.app.name }}/logo.png" loading-src
                                     style="min-height:200px;height:200px;">
                                <div class="caption">
                                    <h5>{{ app.title }}</h5>
                                </div>
                                <p><a href="{% url ''|add:app.app.name|add:".view" app.id %}"
                                      class="btn btn-primary" role="button">View</a></p>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-9">
                        <h4>No Apps Created</h4>
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-12 col-md-3 buttons pull-right">
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'appinstance_browse' %}?owner__username={{ request.user.username }}"
                           class="btn btn-primary" role="button">View My Apps <span
                                class="badge">{{ my_apps.all.count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'appinstance_browse' %}"
                           class="btn btn-primary" role="button">View All Apps <span
                                class="badge">{{ created_apps.count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'app_manager_base_url' %}"
                           class="btn btn-primary" role="button">Create New</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Layers</h3>
                {% if my_layers.all.count != 0 %}
                    {% for layer in my_layers.all|slice:":3" %}
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img ng-src="{{ layer.get_thumbnail_url }}"
                                     fallback-src="{{ STATIC_URL }}app_manager/img/no-image.jpg"
                                     style="min-height:200px;height:200px;">
                                <div class="caption">
                                    <h5>{{ layer.title }}</h5>
                                    <p><a href="{% url "layer_detail" layername=layer.typename %}"
                                          class="btn btn-primary" role="button">View</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-9">
                        <h4>No Layers Uploaded</h4>
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-12 col-md-3 buttons pull-right">
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'layer_browse' %}?owner__username={{ request.user.username }}"
                           class="btn btn-primary" role="button">View My Layers <span
                                class="badge">{{ my_layers.all.count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'appinstance_browse' %}"
                           class="btn btn-primary" role="button">View All Layers <span
                                class="badge">{{ layers_count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'layer_upload' %}"
                           class="btn btn-primary" role="button">Upload New</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Maps</h3>
                {% if my_maps.all.count != 0 %}
                    {% for map in my_maps.all|slice:":3" %}
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img ng-src="{{ map.get_thumbnail_url }}"
                                     fallback-src="{{ STATIC_URL }}app_manager/img/no-image.jpg"
                                     style="min-height:200px;height:200px;">
                                <div class="caption">
                                    <h5>{{ map.title }}</h5>
                                    <p><a href="{% url "map_view" mapid=map.id %}"
                                          class="btn btn-primary" role="button">View</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-9">
                        <h4>No Maps Created</h4>
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-12 col-md-3 buttons pull-right">
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'maps_browse' %}?owner__username={{ request.user.username }}"
                           class="btn btn-primary" role="button">View My Maps <span
                                class="badge">{{ my_maps.all.count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'maps_browse' %}"
                           class="btn btn-primary" role="button">View All Maps <span
                                class="badge">{{ maps_count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'new_map' %}"
                           class="btn btn-primary" role="button">Create New</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Documents</h3>
                {% if documents.all.count != 0 %}
                    {% for document in documents.all|slice:":3" %}
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img ng-src="{{ document.get_thumbnail_url }}"
                                     fallback-src="{{ STATIC_URL }}app_manager/img/no-image.jpg"
                                     style="min-height:200px;height:200px;">
                                <div class="caption">
                                    <h5>{{ document.title }}</h5>
                                    <p><a href="{{ document.get_absolute_url }}"
                                          class="btn btn-primary" role="button">View</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-9">
                        <h4>No Documents Created</h4>
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-12 col-md-3 buttons pull-right">
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'document_browse' %}?owner__username={{ request.user.username }}"
                           class="btn btn-primary" role="button">View My Document <span
                                class="badge">{{ documents.all.count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'document_browse' %}"
                           class="btn btn-primary" role="button">View All Documents <span
                                class="badge">{{ documents_count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'document_upload' %}"
                           class="btn btn-primary" role="button">Upload Document</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3>Groups</h3>
                {% if groups.all.count != 0 %}
                    {% for group in groups.all|slice:":3" %}
                        <div class="col-xs-12 col-sm-12 col-md-3">
                            <div class="thumbnail">
                                <img ng-src="{{ group.logo.url }}"
                                     fallback-src="{{ STATIC_URL }}app_manager/img/no-image.jpg"
                                     style="min-height:200px;height:200px;">
                                <div class="caption">
                                    <h5>{{ group.title }}</h5>
                                    <p><a href="{{ group.get_absolute_url }}"
                                          class="btn btn-primary" role="button">View</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-sm-12 col-md-9">
                        <h4>You have 0 Groups</h4>
                    </div>
                {% endif %}

                <div class="col-xs-12 col-sm-12 col-md-3 buttons pull-right">
                    {% comment %}
                    :TODO Create User Groups list
                    {% endcomment %}
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'group_list' %}"
                           class="btn btn-primary" role="button">View All Groups <span
                                class="badge">{{ groups_count }}</span></a>
                    </div>
                    <div class="row" style="padding: 10px">
                        <a href="{% url 'group_create' %}"
                           class="btn btn-primary" role="button">Create Group</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script src="{{ STATIC_URL }}vendor/angular-img-fallback/angular.dcb-img-fallback.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script>
        $(function () {
            $('.item').matchHeight({
                byRow: false,
                property: 'height',
                target: null,
                remove: false
            });
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script>
        var workspace = angular.module('workspace', ['dcbImgFallback']);

    </script>
{% endblock %}


