{% load i18n %}
<div class="row" ng-controller="CartList">
  <div class="col-md-3">
      <div id="react-apps-list"></div>
    <resource-cart></resource-cart>
    <div class="row">
      <div class="col-xs-12">
        {% block bulk_perms_button %}
        <div class="btn-group btn-group-justified" role="group" aria-label="tools">
          {% if request.user.is_authenticated %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-disabled="!cart.getCart().items.length" data-toggle="modal" data-target="#_bulk_permissions">{% trans "Set permissions" %}</button>
          </div>
          {% endif %}
        </div>
        {% endblock %}

        <div class="selections">
            {% trans "Filters" %}
            <a href="." id="clear-search" class="pull-right">{% trans "Clear" %}</a>
        </div>
            {% if SEARCH_FILTERS.TEXT_ENABLED %}
              {% include "search/_text_filter.html" %}
            {% endif  %}
        <div id="slide-pane">
            {% include "search/_general_filters.html" %}
        </div>
        <div id="slide-pane">
              <nav class="filter" ng-cloak>
                <h4><a href="#" class="toggle toggle-nav"><i class="fa fa-chevron-right"></i> {% trans "Apps" %}</a></h4>
                <ul class="nav closed" id="apps">
                  {% verbatim %}
                  <li class="apps_filter" ng-repeat="app in apps" ng-if="apps.length > 0">
                    <a class="page-title app_filter_item" data-value="{{ app.name }}" data-filter="app__name__in" ng-click="multiple_choice_listener($event)" class="{{app.active}}">{{ app.title }}
                    </a>
                    <div>
                      <span class="badge">{{ app.app_instance_count }}</span>
                    </div>
                  </li>
                  {% endverbatim %}
                </ul>
              </nav>
        </div>
      </div>
    </div>

  </div>
  
  <div class="col-md-9">
    <div class="col-md-2">
      <span>Total: </span>
      <span ng-bind="total_counts"></span>
    </div>
    {% include "search/_sort_filters.html" %}
    <div class="col-md-12 grid-spacer">
        <div style="text-align:center" ng-if="loading"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
    {% include 'app_instance/_resourcebase_snippet.html' %}
    {% include 'search/_pagination.html' %}
    </div>
  </div>
  {% include "_bulk_permissions_form.html" %}
</div>