{% load i18n static %}

<div class="search">
    <form class="autocomplete-input input-group" id="text-search-autocomplete">
        {% csrf_token %}
        <div id="text-search-container">
            <button class="btn" type="submit" id="text_search_btn">
                <i class="fa fa-search"></i>
            </button>
            <input autocomplete="off" ng-model="text_query" type="text" name="text_search_input" id="text_search_input"
                   placeholder="{% trans 'Search' %}">
        </div>

    </form>
</div>