[submodule "cartoview/app_manager/static/app_installer"]
	path = cartoview/app_manager/static/app_installer
	url = https://github.com/cartologic/app-installer-frontend.git
[submodule "cartoview/static/basic_viewer"]
	path = cartoview/static/basic_viewer
	url = https://github.com/cartologic/map-viewer.git
