amqp==2.2.2
anyjson==0.3.3
appnope==0.1.0
arcrest==10.3
arrow==0.12.1
asn1crypto==0.24.0
attrs==17.4.0
autoflake==0.7
Automat==0.7.0
autopep8==1.4.3
awesome-slugify==1.6.5
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
billiard==3.5.0.3
boto==2.38.0
-e git+git@github.com:cartologic/cartoview.git@4d1926ebd8a8d283fd83d770ea4e4b30ab97d13f#egg=cartoview
celery==4.2.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cheroot==5.8.3
CherryPy==11.0.0
click==6.7
configparser==3.5.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==2.3.1
datautil==0.4
decorator==4.1.2
dicttoxml==1.7.4
diff-match-patch==20121119
dj-database-url==0.4.2
dj-pagination==2.3.2
Django==1.11.16
django-activity-stream==0.6.5
django-allauth==0.34.0
django-appconf==1.0.2
django-apptemplates==1.4
django-autocomplete-light==2.3.3
django-autofixture==0.12.1
django-autoslug==1.9.3
django-basic-authentication-decorator==0.9
django-bootstrap-form==3.4
django-bootstrap3-datetimepicker-2==2.5.0
django-braces==1.12.0
django-celery-beat==1.1.1
django-celery-monitor==1.1.2
django-celery-results==1.0.1
django-cors-headers==2.2.0
django-crispy-forms==1.7.2
django-cuser==2017.3.16
django-downloadview==1.9
django-extensions==2.0.7
django-filter==1.1.0
django-floppyforms==1.7.0
django-forms-bootstrap==3.1.0
django-geoexplorer==4.0.41
django-geoexplorer-worldmap==4.0.53
django-geonode-client==1.0.9
django-guardian==1.4.9
django-haystack==2.8.1
django-import-export==1.0.0
django-invitations==1.9.2
django-ipware==2.1.0
django-js-asset==1.0.0
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
django-leaflet==0.23.0
django-model-utils==3.1.1
django-modeltranslation==0.12.2
django-mptt==0.9.0
django-multi-email-field==0.5.1
django-nose==1.4.5
django-polymorphic==1.3.1
django-reversion==2.0.13
django-simple-history==1.9.0
django-storages==1.6.5
django-suit==0.2.26
django-taggit==0.22.2
django-tastypie==0.14.0
django-treebeard==4.2.1
django-utils==0.0.2
djangorestframework==3.8.2
docker==3.1.1
docker-pycreds==0.3.0
elasticsearch==2.4.1
enum34==1.1.6
et-xmlfile==1.0.1
factory-boy==2.9.2
Faker==0.8.4
flake8==3.5.0
funcsigs==1.0.2
future==0.17.1
futures==3.2.0
geographiclib==1.49
geoip2==2.8.0
geolinks==0.2.0
-e git+https://github.com/GeoNode/geonode.git@cc010aa61d48da494e03bda0ee75d9b76480fc85#egg=GeoNode
geonode-agon-ratings==0.3.8
geonode-announcements==1.0.13
geonode-avatar==2.1.8
geonode-dialogos==1.2
geonode-oauth-toolkit==1.1.2rc0
geonode-user-messages==0.1.14
geopy==1.14.0
gisdata==0.5.4
glob2==0.6
gn-gsimporter==1.0.9
gsconfig==1.0.10
gunicorn==19.7.1
httplib2==0.10.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
inflection==0.3.1
invoke==0.22.1
ipaddress==1.0.18
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.3.4
itypes==1.1.0
jaraco.functools==1.20
jdcal==1.3
Jinja2==2.10
jwcrypto==0.6.0
kombu==4.2.1
livereload==2.5.2
lxml==3.6.2
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
maxminddb==1.4.1
mccabe==0.6.1
mercantile==1.0.4
mkdocs==0.17.5
mkdocs-material==3.0.5
mock==2.0.0
more-itertools==4.1.0
MultipartPostHandler==0.1.0
nose==1.3.7
numpy==1.13.1
oauthlib==2.1.0
odfpy==1.3.6
openpyxl==2.5.0
OWSLib==0.16.0
parse==1.8.2
parse-type==0.4.1
pathlib2==2.3.2
Paver==1.2.4
pbr==3.1.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==3.3.2
Pinax==0.9a2
pinax-notifications==4.1.0
pinax-theme-bootstrap==8.0.1
pluggy==0.6.0
portend==2.3
poster==0.8.1
prompt-toolkit==1.0.15
psutil==5.4.8
psycopg2==2.7.3.1
ptyprocess==0.6.0
py==1.5.3
pycodestyle==2.4.0
pycountry==18.5.26
pycparser==2.18
pycsw==2.2.0
pyflakes==1.6.0
Pygments==2.2.0
PyHamcrest==1.9.0
pymdown-extensions==6.0
pyOpenSSL==18.0.0
pyproj==1.9.5.1
pytest==3.5.0
pytest-bdd==2.20.0
pytest-django==3.1.2
pytest-splinter==1.8.5
python-dateutil==2.6.1
python-gnupg==0.4.1
python-memcached==1.59
python-mimeparse==1.6.0
python-openid==2.2.5
pytz==2018.3
PyYAML==3.12
regex==2016.7.21
requests==2.20.1
requests-oauthlib==1.0.0
scandir==1.9.0
selenium==3.9.0
Shapely==1.5.17
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.10.0
splinter==0.7.7
SQLAlchemy==1.2.13
tablib==0.12.1
tempora==1.14
timeout-decorator==0.4.0
tornado==4.5.3
tqdm==4.23.3
traitlets==4.3.2
transifex-client==0.12.4
Twisted==18.9.0
typing==3.6.4
ua-parser==0.8.0
unicodecsv==0.14.1
Unidecode==0.4.19
uritemplate==3.0.0
urllib3==1.22
user-agents==1.1.0
uWSGI==2.0.17
vine==1.1.4
wcwidth==0.1.7
websocket-client==0.54.0
xlrd==1.1.0
xlwt==1.3.0
xmljson==0.1.9
xmltodict==0.10.2
zope.interface==4.6.0
