{% load wagtailcore_tags wagtailimages_tags i18n %}
{% load static from staticfiles %}

<link href="{% static 'cms/blocks/map_catalog.css' %}" rel="stylesheet"/>

<div class="container">
    <div class="row">
        <div class="col-md-12 ml-auto">
            <div class="title">
                <h1>{{ self.title }}</h1>
            </div>
            <form action="" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
                <div class="input-group">
                    <input name="searchtext" placeholder="Search for Maps" value="" class="form-control" type="text">
                    <span class="input-group-btn">
               <button class="btn btn-white btn-raised btn-fab btn-round" type="submit" id="mapSearch">
                   <i class="material-icons">search</i>
               </button>
            </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><p style="text-align: left">Popular Tags:</p></div>
        <div class="col-md-10" style="text-align: right">
            <a href="#"><span class="badge badge-pill badge-secondary">Secondary</span></a>
            <a href="#"><span class="badge badge-pill badge-primary">Primary</span></a>
            <a href="#"><span class="badge badge-pill badge-info">Info</span></a>
            <a href="#"><span class="badge badge-pill badge-danger">Danger</span></a>
            <a href="#"><span class="badge badge-pill badge-dark">Dark</span></a>
            <a href="#"><span class="badge badge-pill badge-default">Default</span></a>
            <a href="#"><span class="badge badge-pill badge-warning">Warning</span></a>
            <a href="#"><span class="badge badge-pill badge-rose">Rose</span></a>
            <a href="#"><span class="badge badge-pill badge-success">Success</span></a>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-6">
            <div class="map-catalog-image">
                <img src="https://www.publichealthnetwork.cymru/files/4314/5017/0805/Poverty_Supermarket.jpg" alt="">
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <h3 class="title no-top-margin">Food Poverty</h3>
            <p>
                Food poverty means that an individual or household isn’t able to obtain healthy, nutritious food, or
                can’t access the food they would like to eat. Despite increasing choice and affordability of food in the
                UK, many people eat what they can afford, not what they want.
            </p>
            <p>
                There is the basic concept of having enough money to afford to buy enough food, but even if families
                have enough, just enough money to prevent hunger, this most basic of objectives is made that much more
                difficult if a family has only a very limited range of food on offer, little or no ability to prepare
                and cook food, or if there are other fundamental crises. It also often means that food poverty can
                result in eating more of low quality foods if these are the more available and affordable option.
            </p>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h3 class="title no-top-margin">Water Pollution</h3>
            <p>
                Water pollution can be defined as the contamination of a stream, river, lake, ocean or any other stretch
                of water, depleting water quality and making it toxic for the environment and humans.
            </p>
            <p>
            <li>Organic pollution due to microorganisms - bacteria and viruses - present in the water, generated by
                excrement, animal and vegetable waste
            </li>
            <li>Chemical pollution generated by the nitrates and phosphates of pesticides, human and animal drugs,
                household products, heavy metals, acids and hydrocarbons used in industries
            </li>
            </p>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <div class="map-catalog-image">
                <img src="https://solarimpulse.com/img/thematicpage/water-pollution-header.jpg" alt="">
            </div>
        </div>
    </div>
    <hr/>

    <div class="row" style="margin-top: 40px;">
        <div class="col-md-6">
            <div class="map-catalog-image">
                <img src="https://www.publichealthnetwork.cymru/files/4314/5017/0805/Poverty_Supermarket.jpg" alt="">
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <h3 class="title no-top-margin">Food Poverty</h3>
            <p>
                Food poverty means that an individual or household isn’t able to obtain healthy, nutritious food, or
                can’t access the food they would like to eat. Despite increasing choice and affordability of food in the
                UK, many people eat what they can afford, not what they want.
            </p>
            <p>
                There is the basic concept of having enough money to afford to buy enough food, but even if families
                have enough, just enough money to prevent hunger, this most basic of objectives is made that much more
                difficult if a family has only a very limited range of food on offer, little or no ability to prepare
                and cook food, or if there are other fundamental crises. It also often means that food poverty can
                result in eating more of low quality foods if these are the more available and affordable option.
            </p>
        </div>
    </div>
    <hr/>

</div>