<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../static/material-kit/assets/img/profile_city.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">No Content Yet!</h1>
                <h4>
                    It looks like you haven't created any content yet.
                    Start by customizing your homepage
                </h4>
                <br>
                <a href="http://localhost:8000/admin/" class="btn btn-warning btn-raised btn-lg">
                    <i class="fa fa-map-marker"></i>&nbsp; Add Content
                </a>
            </div>
            <div class="col-md-12">
                <h1 class="title">Cartoview</h1>
                <h4>Cartoview is a GIS Web Mapping Application Market.
                    Create, share, and visualize GIS Web Mapping Applications very easily and very quickly from the
                    browser without programming.</h4>
                <br>
                <a href="http://demo.cartoview.net" target="_blank" class="btn btn-info btn-raised btn-lg">
                    <i class="fa fa-play"></i>&nbsp; Demo
                </a>
                <a href="https://www.youtube.com/watch?v=jabrF9tQViM" target="_blank" class="btn btn-danger btn-raised btn-lg">
                    <i class="fa fa-video-camera"></i>&nbsp; Watch it
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="material-icons">apps</i>
                    </div>
                    <h4>Apps</h4>
                    <h5>Pluggable Apps available on App Market for quick deployments.</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-success">
                        <i class="material-icons">map</i>
                    </div>
                    <h4>Maps</h4>
                    <h5>Configure and Publish web mapping applications directly from the browser.</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="material-icons">scatter_plot</i>
                    </div>
                    <h4>Open Source</h4>
                    <h5>CartoView leverages open source software and is built using OSGeo software.</h5>
                </div>
            </div>
        </div>


<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul><li><a href="https://cartoview.net" target="_blank">Cartoview</a></li><li><a href="http://www.twitter.com" target="_blank" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a></li><li><a href="http://www.instagram.com" target="_blank" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a></li><li><a href="http://www.facebook.com" target="_blank" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a></li></ul>
        </nav>
        <div class="copyright float-right">
            &copy;<script>document.write(new Date().getFullYear())</script>, made with <i class="material-icons">favorite</i> by <a href="http://cartologic.com" target="_blank">Cartologic</a> for a better web.
        </div>
    </div>
</footer>

    </div>
</div>
