{% extends "announcements/detail.html" %}

{% load i18n %}

{% block body_class %}announcements {{ block.super }}{% endblock %}

{% block brand %}
    {% with brand_url_name="announcements_list" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block brand_details %}
    <a href="{{ announcement.get_absolute_url }}">{{ announcement.title }} ({{ announcement.level_label }})</a>
{% endblock %}

{% block body %}
<p>{{ announcement.creation_date }}</p>
<div class="col-md-10">
  <blockquote>
    <p>{{ announcement.content }}</p>
    <small>{{ announcement.creator }}</small>
  </blockquote>
</div>
{% endblock %}