{% extends 'cartoview/base.html' %}
{% load crispy_forms_tags i18n socialaccount %}
{% block content %}
<div class="row justify-content-md-center no-gutters inherit-height "  >
  <div class="col-md-4 col-sm-8 center" >
    <div class="row">
      <div class="col" >
        <h3 class="text-center">{% trans "Signup" %}</h3>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-block btn-primary" type="submit">{% trans "Signup" %}</button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h6 class="text-center">{% trans "Already have an account? Then please" %}</h6>
        <div class="text-center">
          <a href='{{ login_url }}' class="btn btn-primary btn-sm">{% trans "sign in" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}