{% extends "documents/document_upload_base.html" %}

{% load i18n %}

{% block brand %}
    {% with brand_url_name="document_browse" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% if document %}
    {% block brand_details %}
        <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
    {% endblock %}
{% endif %}

{% block body_outer %}
<div class="page-header">
	<p>{% trans "Allowed document types" %}:</p>
	<p>
	{% for doc in ALLOWED_DOC_TYPES %}
		<span class="label label-default">.{{ doc }}</span>
	{% endfor %}
	</p>
</div>
<div class="row">
  {% block body %}{% endblock body %}
  {% block sidebar %}{% endblock sidebar %}
</div>
{% endblock body_outer %}