{% extends 'documents/document_list.html' %}

{% load i18n %}

{% block top_middle %}
    {% include "search/text_search.html" %}
{% endblock %}

{% block body %}
  <div class="page-header">
    {% if user.is_authenticated and not READ_ONLY_MODE %}
      <a href="{% url "document_upload" %}" class="btn btn-primary pull-right">{% trans "Upload Documents" %}</a>
    {% endif %}
  </div>
  {% with include_type_filter='true' %}
    {% with header='Document Type' %}
      {% with filter='doc_type__in' %}
        {% include "search/_search_content.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
{% endblock %}