.table-wrapper {
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: lightgray;
    max-height: 400px;
    width: 100%;
    overflow: auto;
    display: inline-block;
}

.cursor-hand {
    cursor: pointer;
}
