#app {
    background: #FFFFFF;
    text-align: center;
}
.manage {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: flex-end;
}
@media screen and (max-width: 701px) {
    .manage {
        justify-content: center;
    }
    .manage button{
        width: auto;
        justify-content: flex-start;
    }
}
