.content{
    text-align: center;
    margin: 0 auto;
}
.app-card {
    margin: 5%  0  0 5% ;

    width: auto;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid lightgray;
}
.app-card img {
    max-width: 50%;
    max-height: 10%;

}
.actions {
    padding: 1em;
}
.actions button {
    border-radius: 3px;
    margin: 0.5em;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    padding: 4px 8px;
    text-align: center;
}
.manage-btn{
    text-align: right;
}