{% extends "site_base.html" %}
{% load i18n %}

{% block title %} {{ map_layer.title }} — {{ block.super }} {% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}apps/css/new_instance.css" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        var REST_URL = '{% url "app_manager_base_url" %}rest/app_manager/';
        var GEOSERVER_BASE_URL = "{{ GEOSERVER_BASE_URL }}";
        var PROXY_URL = "{{ PROXY_URL }}";
        var MEDIA_URL = "{{ MEDIA_URL }}";
        var STATIC_URL = "{{ STATIC_URL }}";
        var ANGULAR_TEMPLATES_URL =  STATIC_URL + "apps/angular_templates/";
    </script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular.min.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource-tastypie/angular-resource-tastypie.min.js"></script>


    {% block new_instance_scripts %}
        <script type="text/javascript" src="{{ STATIC_URL }}apps/js/new_instance.js"></script>
    {% endblock new_instance_scripts %}
{% endblock %}

{% block middle %}

        <div ng-app="newInstanceApp" ng-controller="FormController" class="container">
            {% verbatim %}
            <div class="page-header">
                <h4 ng-if="!instanceObj">New App</h4>
                <h4 ng-if="instanceObj">Edit App - {{ instanceObj.title }}</h4>
            </div>
            {% endverbatim %}
            <map-selector-field></map-selector-field>
            <div ng-if="selected.map">
                <basic-fields></basic-fields>
                {% block config_field %}
                    <config-field></config-field>
                {% endblock config_field %}
                <save-buttons></save-buttons>
            </div>
            {% verbatim %}
            <script type="text/ng-template" id="map-selector-field.html">
                <div class="form-group">
                    <label>Map</label>
                    <div class="help-block">
                        <div class="selected-map" ng-if="selected.map">
                            <img ng-src="{{ selected.map.thumbnail_url }}">
                            <div class="selected-map-text">{{ selected.map.title }} <a class="pull-right" href="#" ng-click="openMapsSelector()">Change</a> </div>
                        </div>
                        <button class="btn btn-primary" ng-click="openMapsSelector()" ng-if="!selected.map">Select</button>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="basic-fields.html">
                <div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" ng-model="instanceObj.title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label>Abstract</label>
                        <textarea class="form-control" ng-model="instanceObj.abstract" placeholder="Abstract"></textarea>
                    </div>
                </div>
            </script>
            <script type="text/ng-template" id="config-field.html">
                <div class="form-group">
                    <label>Configuration</label>

                    <textarea class="form-control"
                              ng-change="changeConfig()"
                              ng-model="config"
                              placeholder="Configuration"></textarea>
                </div>
            </script>
            <script type="text/ng-template" id="save-buttons.html">
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="save()">Save</button>
                    <a class="btn btn-info" ng-href="{{ detailsUrl }}" ng-show="detailsUrl">Details</a>
                    <a class="btn btn-warning" ng-href="{{ viewUrl }}" ng-show="viewUrl">View</a>
                    <div class="saving" ng-show="saving"><img src="/static/app_manager/images/ajax-loader.gif"></div>
                    <div class="alert alert-success" role="alert" ng-show="success">Saved Successfuly!</div>
                    <div class="alert alert-danger" role="alert" ng-show="error">{{ errorMsg }}</div>
                </div>
            </script>
            <script type="text/ng-template" id="map-selector-modal.html">
                <div class="modal-header">
                    <h3 class="modal-title">Select Map</h3>
                </div>
                <div class="modal-body maps-selector" style="height: 420px;">
                    <div class="col-md-3" ng-repeat="obj in maps.page.objects"
                         ng-click="$event.preventDefault(); selected.map = obj;"
                        ng-class="{selected:selected.map.id==obj.id}">
                        <div class="thumbnail" >
                            <img ng-src="{{ obj.thumbnail_url }}" >
                            <div class="caption">
                                {{ obj.title }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <input class="btn btn-default" type="button" ng-click="maps.page.first()" ng-disabled="!maps.page.meta.previous" value="First">
                        <input class="btn btn-default" type="button" ng-click="maps.page.previous()" ng-disabled="!maps.page.meta.previous" value="Previous">
                        <b ng-show="maps.page.length">{{maps.page.index}}/{{maps.page.length}}</b>
                        <input class="btn btn-default" type="button" ng-click="maps.page.next()" ng-disabled="!maps.page.meta.next" value="Next">
                        <input class="btn btn-default" type="button" ng-click="maps.page.last()" ng-disabled="!maps.page.meta.next" value="Last">
                    </div>
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()" ng-if="showCancel">Cancel</button>
                </div>
            </script>
            {% endverbatim %}
            {% block angular_templates %}{% endblock angular_templates %}
        </div>



{% endblock %}