{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load  avatar_tags %}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
	<head>
		<title>{{ SITE_NAME }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Play-Offs Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!meta charset utf="8">
		<!--flexslider-css-->
		<link href="{{ STATIC_URL }}web_landing_page/css/flexslider.css" rel='stylesheet' type='text/css' />
		<!--bootstrap-->
		<link href="{{ STATIC_URL }}web_landing_page/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<!--coustom css-->
		<link href="{{ STATIC_URL }}web_landing_page/css/style.css" rel="stylesheet" type="text/css"/>
		<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'>
		<!--script-->
		<script type="text/javascript" src="{{ STATIC_URL }}web_landing_page/js/move-top.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}web_landing_page/js/easing.js"></script>
		<script src="{{ STATIC_URL }}web_landing_page/js/modernizr.custom.js"></script>
		<script src="{{ STATIC_URL }}web_landing_page/js/jquery-2.1.4.min.js"></script>
		<script src="{{ STATIC_URL }}web_landing_page/js/bootstrap.min.js"></script>
		<!--script-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
		<!--fonts-->
		<style type="text/css">
			.navbar-brand img{
				z-index: 1;
				position: relative;
			}
			.rotate-45 {
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			.bgi p {
				color: #333;
    			font-weight: bold;
			}
			.header-socend-img {
				width: 100%;
			}
			.bgi {
			    padding-top: 0 !important;
			}
			.bgi .site-title{
				padding-top: 100px;
				background-color: rgba(200,200,200,.5);
			}
		</style>
	</head>
	<body>
	{% with facet_type='home' %}
     {% facets as facets %}
		<div class="header" id="home">
			<nav class="navbar navbar-default">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ STATIC_URL }}web_landing_page/index.html">
						<img src="http://45.35.64.50:8001/uploaded/documents/Logoforweb.png">
					</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right margin-top cl-effect-2">
								<li><a href="/"><span data-hover="Home">Home</span></a></li>
								<!-- <li class="dropdown">
								<a href="{{ STATIC_URL }}web_landing_page/about.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="About">About</span><span class="caret"></span></a>
								<ul class="dropdown-menu">
								<li><a href="{{ STATIC_URL }}web_landing_page/about.html"><span data-hover="Action">Action</span></a></li>
								<li><a href="{{ STATIC_URL }}web_landing_page/Pages.html"><span data-hover="Pages">Pages</span></a></li>
								</ul>
								</li> -->
								<li><a href="/layers"><span data-hover="layers">Layers</span></a></li>
								<li><a href="maps"><span data-hover="Maps">Maps</span></a></li>
								<li><a href="/apps"><span data-hover="Apps">Apps</span></a></li>
								<li><a href="/documents"><span data-hover="Documents">Documents</span></a></li>

                                {% if not user.is_authenticated and REGISTRATION_OPEN %}
                                    <li><a href="{% url "account_signup" %}"><span data-hover="{% trans "Register" %}">{% trans "Register" %}</span></a></li>
                                {% endif %}
                                {% if not user.is_authenticated %}

                                    <li>
                                        <a href="/account/login" >
                                            <span data-hover="{% trans "Sign in" %}">{% trans "Sign in" %}</span>
                                        </a>
                                    </li>
                                {% endif %}

							</ul>

							<div class="clearfix"></div>
						</div><!-- /.navbar-collapse -->
						<div class="clearfix"></div>
				</div><!-- /.container-fluid -->
			</nav>
			
			<div class="header-banner">
					<!-- Top Navigation -->
					<div class="container page-seperator">
					
					<section class="col-8 color bgi">
						<div class="col-md-8 site-title">
							<h3>WVA Floods 2016: Disaster Tracker</h3>
							<p>This is a crowd-source platform hosted by the <a href="http://www.polis.iupui.edu/"  target="_blank">Polis Center</a>  
							at IUPUI in collaboration with West Virginia University 
							to report and track the damage and casualties caused by the Flood of June 25, 2016</p>
						</div>
						<div class="col-md-4">
							<img class="header-socend-img" src="http://45.35.64.50:8001/uploaded/documents/062516-w-va-counties.jpg">
						</div>
						
							
					</section>
					
					<section class="col-3 ss-style-doublediagonal our-features">
							<!-- <h1>our features</h1>
							<p>lorem ipsum simply a dummy text to format fonts and paragraphs</p> -->
							<div class="column our-feat">
								<a href="/layers"><span class="glyphicon glyphicon-unchecked our-icons rotate-45" aria-hidden="true"></span>
								<h3>{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</h3></a>
								<p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
							</div>
							<div class="column our-feat">
								<a href="{% url "maps_browse" %}"><span class="glyphicon glyphicon-map-marker our-icons" aria-hidden="true"></span>
								<h3>{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</h3></a>
								<p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be shared publicly or restricted to specific users only." %}</p>
							</div>
							<div class="column our-feat">
								<a href="/apps"><span class="glyphicon glyphicon-th our-icons" aria-hidden="true"></span>
								<h3>{{ facets.app|default:_("No") }} {% blocktrans count counter=facets.app %}App{% plural %}Apps{% endblocktrans %}</h3>
								</a>
								<p>{% trans "Pluggable Apps available on App Market for quick deployments." %}</p>
							</div>
							<div class="clearfix"></div>
					</section>
					</div>
			</div>
			
			<div class="footer">
			<div class="container">
				<!-- <div class="social">
					<ul>
						<li><a href="#" class="face"></a></li>
						<li><a href="#" class="twit"></a></li>
						<li><a href="#" class="insta"></a></li>
						<li><a href="#" class="gplus"></a></li>
						<li><a href="#" class="dribl"></a></li>
					</ul>
				</div> -->
				<div class="copy-rt">
					<p>&#169; 2016 Catoview -  <a href="http://cartologic.com" target="_blank">Cartologic</a>
					</p>
				</div>
				<div class="copy-rt">
					<p>&#169; 2015 Home Page Template Archer Design by <a href="http://www.w3layouts.com" target="_blank">w3layouts</a>
					</p>
				</div>
			</div>
			</div>
			<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</body>
	{% endwith %}
</html>
