{% extends 'index.html' %}
{% load i18n %}
{% load cartoview_tags %}
{% block extra_head %}
    {{ block.super }}
    <style>
        .counters {
            padding: 20px;
            background: aliceblue;
        }
    </style>
    {#    <style>#}
    {#        #site-banner {#}
    {#            background: #006064;#}
    {#        }#}
    {#        #site-banner{#}
    {#            background-image: url("{{ STATIC_URL }}/cartoview/img/cartoview-egy.png");#}
    {#            background-size: cover;#}
    {#            background-repeat: no-repeat;#}
    {#            width: 100%;#}
    {#        }#}
    {#    </style>#}
    {#    <link href="{{ STATIC_URL }}cartoview/css/cartoview-index.css" rel="stylesheet"/>#}
{% endblock %}
{% block hero %}
    <div id="site-banner" class="jumbotron">
        <div class="container">
            <h1 style="text-align: center">{% trans "Create GIS Applications" %}</h1>
            <h3 class="text-center">
                <span class="label label-success" style="background: #69F0AE">{{ apps_instance_count }}</span> Apps
                Created
            </h3>
            <div class="row text-center" style="margin-top: 30px">
                {% if not user.is_authenticated %}
                    <h5>Please Login to Create Apps</h5>
                    <div class="col-md-2 col-md-offset-4">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#SigninModal" type="button">
                            Create New
                        </button>
                    </div>
                {% else %}
                    <div class="col-md-2 col-md-offset-4">
                        <a class="btn btn-primary" style="color: white" href="{% url 'app_manager_base_url' %}">
                            Create New
                        </a>
                    </div>
                {% endif %}

                <div class="col-md-2">
                    <a class="btn btn-primary" style="color: white" href="{% url 'app_manager_base_url' %}">
                        Explore
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p class="text-center">{% blocktrans %}
                <a href="http://cartologic.com/cartoview" class="cartoview_install">Cartoview is open source Install on
                    your
                    Platform.</a>
            {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row counters">
        <div class="col-md-2 text-center col-md-offset-1">
            <div class="row">
                <span class="badge count">{% layers_counts %}</span>
            </div>
            Layers

        </div>
        <div class="col-md-2 text-center">
            <div class="row ">
                <span class="badge count">{% maps_counts %}</span>
            </div>
            Maps
        </div>
        <div class="col-md-2 text-center">
            <div class="row">
                <span class="badge count">{% users_counts %}</span>
            </div>
            Users
        </div>
        <div class="col-md-2 text-center">
            <div class="row">
                <span class="badge count">{% groups_counts %}</span>
            </div>
            Groups
        </div>
        <div class="col-md-2 text-center">
            <div class="row">
                <span class="badge count">{% apps_counts %}</span>
            </div>
            Apps
        </div>
    </div>
{% endblock %}
{% block mainbody %}
    {{ block.super }}
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    <script>
        $('.count').each(function () {
            var $this = $(this);
            $({counter: 0}).animate({counter: $this.text()}, {
                duration: 1000,
                easing: 'swing',
                step: function () {
                    $this.text(Math.ceil(this.counter));
                }
            });
        });
    </script>
{% endblock %}
