<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
{#    #}
{#    <script src="http://1.2.3.4/bmi-int-js/bmi.js?version=1397636046" language="javascript"></script>#}
{#    #}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/cartoview.png"/>

    <title>Angular Material - Navbar</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}viewer/vendor/normalize.css">
    <link rel='stylesheet prefetch' href='{{ STATIC_URL }}viewer/vendor/angular-material/angular-material.min.css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}viewer/vendor/ol3/ol.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}viewer/css/map.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="{{ STATIC_URL }}viewer/css/style.css">
</head>
<body ng-app="cartoview.mapViewerApp" ng-controller="cartoview.mapViewerController" >

    <div class="content-panel" layout="column" ng-class="{'md-whiteframe-1dp has-content': map.hasContent}">
        <md-content class="header" layout="row">
            <md-button ng-click="toggleSidenav()" class="md-primary" ng-class="{'md-fab': !map.hasContent}">
                <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
            </md-button>
            <span flex></span>
            <md-button ng-click="map.clearContent()" class="md-primary" ng-show="map.hasContent">
                <md-icon aria-label="Menu" class="material-icons">close</md-icon>
            </md-button>
        </md-content>
        <md-content flex  ng-show="map.hasContent" class="content">
          <map-results></map-results>
        </md-content>
    </div>

    <div class="ol3-map" flex cartoview-map>
        <zoom-bar></zoom-bar>
    </div>
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2 floating-menu">
        {% verbatim %}
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>{{ title }}</h2>
          </div>
        </md-toolbar>
        <md-button class="md-list-item-content" ng-click="map.zoomHome()">
            <md-icon class="material-icons floating-menu-item-icon">home</md-icon>
            <span class="md-inline-list-icon-label">Home</span>
        </md-button>
        <md-button class="md-list-item-content" ng-click="showAboutDialog()">
            <md-icon class="material-icons floating-menu-item-icon">help</md-icon>
            <span class="md-inline-list-icon-label">About</span>
        </md-button>
        <toggle-button toggle="layersSwitcherVisible" title="Layers" icon="layers"></toggle-button>
        <layers-switcher ng-show="layersSwitcherVisible"></layers-switcher>
        <toggle-button toggle="legendVisible" title="Legend"  icon="view_list"></toggle-button>
        <layers-legend ng-show="legendVisible"></layers-legend>
        <toggle-button toggle="baseMapsSwitcherVisible" title="Base Maps"  icon="satellite"></toggle-button>
        <basemaps-switcher ng-show="baseMapsSwitcherVisible"></basemaps-switcher>
        {% endverbatim %}
    </md-sidenav>
    <script type="text/javascript" src='{{ STATIC_URL }}viewer/vendor/angular/angular.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}viewer/vendor/angular-animate/angular-animate.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}viewer/vendor/angular-aria/angular-aria.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}viewer/vendor/angular-material/angular-material.min.js'></script>
    <script type="text/javascript" src="{{ STATIC_URL }}viewer/vendor/ol3/ol.js"></script>
    <script type="text/javascript">
        var GEOSERVER_BASE_URL = "{{ GEOSERVER_BASE_URL }}";
        var PROXY_URL = "{{ PROXY_URL }}";
        var MEDIA_URL = "{{ MEDIA_URL }}";
        var MAP_CONFIG_URL = "{% url 'viewer.map_config' map_id %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}viewer/js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}viewer/js/view-app.js"></script>


    <script type="text/ng-template" id="search-box.html">
        {% verbatim %}
        <md-content class="md-padding">
            <md-autocomplete
                  ng-disabled="ctrl.isDisabled"
                  md-no-cache="ctrl.noCache"
                  md-selected-item="ctrl.selectedItem"
                  md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                  md-search-text="ctrl.searchText"
                  md-selected-item-change="ctrl.selectedItemChange(item)"
                  md-items="item in ctrl.querySearch(ctrl.searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="Search">
                <md-item-template>
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No states matching "{{ctrl.searchText}}" were found.
                  <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                </md-not-found>
              </md-autocomplete>
            </md-content>
        {% endverbatim %}
    </script>
    <script type="text/ng-template" id="about-dialog.html">
        {% verbatim %}
        <md-dialog aria-label="Mango (Fruit)"  ng-cloak>
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>{{ title }}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div class="md-dialog-content">
                <p>{{ abstract }}</p>
              </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
              <span flex></span>
              <md-button ng-click="cancel()" style="margin-right:20px;">
                Ok
              </md-button>
            </md-dialog-actions>
          </form>
        </md-dialog>
        {% endverbatim %}
    </script>
    <script type="text/ng-template" id="toggle-button.html">
        {% verbatim %}
        <div>
            <md-button ng-click="toggle=!toggle" class="md-button-toggle">
                <div flex layout="row">
                    <md-icon class="material-icons floating-menu-item-icon" ng-if="icon">{{ icon }}</md-icon>
                    <span class="md-inline-list-icon-label">{{ title }}</span>
                    <span flex></span>
                    <span aria-hidden="true" class="md-toggle-icon" ng-class="{'toggled' : toggle}">
                      <md-icon md-svg-src="md-toggle-arrow"></md-icon>
                    </span>
                </div>
                <span class="md-visually-hidden">
                    Toggle {{toggle? 'expanded' : 'collapsed'}}
                </span>
            </md-button>
        </div>

        {% endverbatim %}
    </script>



    <script type="text/ng-template" id="layers-switcher.html">
        {% verbatim %}
        <md-content class="md-padding">
            <div flex="100" ng-repeat="layer in overlays">
                <md-checkbox ng-model="layer.visible" class="md-primary">{{ layer.get('title') }}</md-checkbox>
            </div>
        </md-content>
        {% endverbatim %}
    </script>


    <script type="text/ng-template" id="layers-legend.html">
        {% verbatim %}
        <md-content>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="layer in overlays">
                    <div class="md-list-item-text">
                        <h3>{{ layer.get('title') }}</h3>
                        <p>
                            <img ng-src="{{ layer.get('source').getUrls()[0] }}?layer={{ layer.get('source').getParams().LAYERS  }}&request=GetLegendGraphic&format=image%2Fpng&transparent=true&legend_options=fontAntiAliasing:true;fontSize:14;&width=30&height=30">
                        </p>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </md-content>
        {% endverbatim %}
    </script>

    <script type="text/ng-template" id="basemaps-switcher.html">
        {% verbatim %}
        <md-content class="md-padding">
            <md-radio-group ng-model="backgrounds.active" ng-change="setBackground()">
                <md-radio-button
                    ng-repeat="layer in backgrounds"
                    class="md-primary"
                    ng-value="layer"
                    ng-model="backgrounds.active"> {{ layer.get('title') }}
                </md-radio-button>
            </md-radio-group>
        </md-content>
        {% endverbatim %}
    </script>
    <script type="text/ng-template" id="zoombar.html">
    {% verbatim %}
    <md-content class="zoombar md-whiteframe-z2">
        <md-list>
            <md-list-item>
                <md-button
                    ng-click="map.zoomIn()"
                    class="md-list-item-content" >
                    +
                </md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item>
                <md-button
                    ng-click="map.zoomOut()"
                    class="md-list-item-content" >
                    -
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
    {% endverbatim %}
    </script>

    <script type="text/ng-template" id="map-results.html">
    {% verbatim %}
    <md-content class="map-results">
        <md-list ng-repeat="result in map.content.results" ng-if="result.features.length > 0" ng-show="!map.selected">
            <md-list-item class="map-results-header"><h4>{{ result.layer.get('title') }}</h4></md-list-item>
            <md-list-item ng-repeat="feature in result.features" ng-click="map.selectFeature(feature)">
                <p> {{ feature.getId() }} </p>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
        <div class="" ng-show="map.selected">
            <md-button ng-click="map.selectFeature()">Back to results</md-button>
            <md-list>
                <md-list-item ng-repeat="(key,value) in map.selected.properties">
                    <span flex="30" style="font-weight: bold;">{{ key }}</span><p flex>{{ value }}</p>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
    {% endverbatim %}
    </script>
</body>
</html>
