{% load viewer_helper_tags %}
<script type="text/javascript">
    (function () {
        var module = angular.module('cartoview.viewer.urlsHelper', []);
        var urls = {
            geoserver: "{{ GEOSERVER_BASE_URL }}",
            proxy: "{{ PROXY_URL }}",
            cartoviewGeoserverProxy: "{% url 'cartoview_proxy' 'geoserver' '' %}",
            static: "{{ STATIC_URL }}",
            media: "{{ MEDIA_URL }}",
            rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
            geonodeRest: "{% url 'api_api_top_level' 'api' %}/"
        };
        //{% if instance %}
        urls.viewUrl = "../../{{ instance.id  }}/view/";
        urls.detailsUrl = "{% url 'appinstance_detail' instance.id %}";
        //{% endif %}
        module.constant("urlsHelper", urls);
    })();
    (function () {
        var widgets = {{ widgets | dump_json }};
        if (widgets=="") widgets = [];
        var module = angular.module('cartoview.viewer.widgetsInfo', []);
        module.service("widgetsInfo",function () {

            widgetsDict = {};
            widgets.forEach(function(w){
               widgetsDict[w.name] = w;
            });
            var get = function (name) {
                return widgetsDict[name];
            };
            return {
                widgets: widgets,
                get: get
            }
        });
        window.angularAppDependencies = [];
        widgets.forEach(function (w) {
            if(w.config.dependencies){
                window.angularAppDependencies = window.angularAppDependencies.concat(w.config.dependencies);
            }
        })
    })();

//{% if instance %}
    var instanceId = {{ instance.id }};
//{% endif %}
</script>