{% extends "cartoview/base.html" %}
{% block title %}
    {{ block.super }} - {% if instance %}{{ instance.title  }}{% else %}New Map Viewer{% endif %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview_map_viewer/css/edit.css">
    {% for w in widgets %}
        {% for css_url in w.config.css %}<link rel="stylesheet" href="{{ css_url }}">{% endfor %}
    {% endfor %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource-tastypie.min.js"></script>
    {% include "cartoview_map_viewer/dynamic_edit_js.html" %}
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/data-service.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/map-selector-directive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/basic-config-directive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/basic-controls-directive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/actions-bar-directive.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cartoview_map_viewer/js/edit/widget-config-directive.js"></script>
    {% for w in widgets %}
        {% for js_url in w.config.js %}<script type="text/javascript" src="{{ js_url }}"></script>{% endfor %}
    {% endfor %}
{% endblock %}
{% block body_directives %}ng-app="cartoview.viewer.editor"{% endblock %}
{% block body %}
<div layout="row" layout-align="center center" layout-wrap>
    <md-content layout-padding flex-gt-sm="70" flex="100">
        <h4>{% if instance %}Edit: {{ instance.title  }}{% else %}New Map Viewer{% endif %}</h4>
        <map-selector></map-selector>
        <div ng-if="selected.map">
            <basic-config></basic-config>
            <basic-controls></basic-controls>
            <div>
                {% for w in widgets %}
                    <widget-config widget-name="{{ w.name }}">
                        {% if w.config.directive %}<{{ w.config.directive }}></{{ w.config.directive}}>{% endif %}
                    </widget-config>
                {% endfor %}
            </div>
            <actions-bar></actions-bar>
        </div>
    </md-content>
</div>

{% endblock %}
