.navbar-inverse .navbar-brand {
    background-image: url("../img/cartoview-logo-text-white.png");
    background-position: center center;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,p {
    word-wrap: normal;
    word-break: break-all;
    white-space: normal;
}