.index-intro{
    background-color: #00b3ee;
    color: #FFFFFF;
}

.index-intro h1{
    font-size: 60px;
    margin: 0;
}

.index-intro p{
    font-size: 24px;
    margin: 0;
}

.index-intro img{
    width: 100%;
}

.index-intro .actions .md-button.md-raised{
    display: inline;
    padding: 8px 20px;
    margin-left: 0;
}

/*.index-intro .md-button.md-raised[disabled]{*/
    /*background-color: transparent;*/
/*}*/

/*.index-intro .md-button.md-raised[disabled] span{*/
    /*color: #ffffff;*/
    /*text-transform: none;*/
/*}*/