{% load i18n static %}

<a href="#" class="dropdown-toggle  apps-dropdown {% if mobile == True %}apps-mobile{% endif %}" data-toggle="dropdown" role="button"
   aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-th" aria-hidden="true"></i> <span>{% trans "Apps" %}</span>
</a>
<ul class=" apps-icons dropdown-menu {% if mobile == True %}mobile{% endif %}">
    <li>
        <img src="{% static 'img/icons/home-black.png' %}" alt="home"/>
        <a href="#" className="app-link">{% trans 'home' %}</a>
    </li>
    <li>
        <img src="{% static 'img/icons/search.png' %}" alt="search"/>
        <a href="#" className="app-link">{% trans 'search' %}</a>
    </li>
    <li>
        <img src="{% static 'img/icons/map-black.png' %}" alt="map"/>
        <a href="#" className="app-link">{% trans 'maps' %}</a>
    </li>
    <li>
        <img src="{% static 'img/icons/layers.png' %}" alt="layers"/>
        <a href="#" className="app-link">{% trans 'layers' %}</a>
    </li>
    <li>
        <img src="{% static 'img/icons/docs.png' %}" alt="docs"/>

        <a href="#" className="app-link">{% trans 'Docs' %}</a>
    </li>
    <li>
        <img src="{% static 'img/icons/manage.png' %}" alt="manage"/>
        <a href="#" className="app-link">{% trans 'Manage' %}</a>
    </li>

</ul>

