{% load i18n avatar_tags cartoview_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/cartoview.png"/>

    <title>
    {% block title %}
        {{ SITE_NAME }}
    {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/normalize-css/normalize.css">
    <link rel='stylesheet prefetch' href='{{ STATIC_URL }}vendor/angular-material/angular-material.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview/css/base.css">
    {% block styles %}

    {% endblock %}
</head>
<body {% block body_directives %} {% endblock %} layout="column">

    <div flex class="content-ct">
        <div class="content-ct-inner">
        {% block body %}{% endblock %}
        </div>
    </div>
    <!--
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular/angular.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-animate/angular-animate.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-aria/angular-aria.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-material/angular-material.js'></script>
-->

    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular/angular.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-animate/angular-animate.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-aria/angular-aria.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-material/angular-material.min.js'></script>
    <script src="{{ STATIC_URL }}vendor/angular-img-fallback/angular.dcb-img-fallback.min.js"></script>
    <script type="text/javascript">
        angular.module('cartoview.urlsHelper',[]).constant('urls', {
            BASE_URL: "/",
            GEOSERVER_BASE_URL: "{{ GEOSERVER_BASE_URL }}",
            PROXY_URL: "{{ PROXY_URL }}",
            CARTOVIEW_PROXY_URL: "{% url 'cartoview_proxy' 'geoserver' '' %}",
            MEDIA_URL: "{{ MEDIA_URL }}",
            STATIC_URL: "{{ STATIC_URL }}",
            APPS_BASE_URL: "{% url 'app_manager_base_url' %}",
            REST_URL: "{% url 'app_manager_base_url' %}rest/app_manager/",
            GEONODE_REST_URL: "{% url 'api_api_top_level' 'api' %}/"
        });
        angular.module('cartoview.userInfo',[]).service("cartoviewUser",function () {
            this.isAuthenticated = {{ user.is_authenticated | dump_json }};
            this.isSuperUser = {{ user.is_superuser | dump_json }};
            this.loginUrl = "{% url 'account_login' %}?next={{ request.get_full_path }}";
            this.logoutUrl = "{% url 'account_logout' %}";
            this.registerUrl = "{% url 'account_signup' %}";
            //{% if user.is_authenticated %}
            this.username = "{{ user.username }}";
            this.avatar = "{% avatar_url user 60 %}";
            //{% endif %}
        });
    </script>
    <script type="text/javascript">
        angular.module('cartoview.base',[]);
    </script>
    {% block scripts %}

    {% endblock %}
</body>
</html>
