{% extends "base.html" %}
{% load i18n avatar_tags static base_tags %}

{% block extra_head %}
    {{ block.super }}
    <link href="{% static 'cartoview/css/base.css' %}" rel="stylesheet"/>
    {% include 'cartoview/theme_css.html' %}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <i class="fa fa-navicon fa-lg"></i>
                </button>
                <a class="navbar-brand" href="{% url "home" %}">{% trans 'home' %}</a>
                {% if user.is_authenticated %}
                    {% include 'cartoview/apps_menu.html' with mobile=True %}
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        {% block main_search %}
                        {% include 'cartoview/search_box.html' %}
                        {% endblock main_search %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% block extra_tab %}
                    {% render_nav_menu 'TOPBAR_MENU' %}
                {% endblock extra_tab %}
                    {% if user.is_authenticated %}
                        <li class="">
                        {% include 'cartoview/apps_menu.html' %}
                        </li>
                    {% endif %}

                    {% if not user.is_authenticated and ACCOUNT_OPEN_SIGNUP and not READ_ONLY_MODE %}
                        <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="">
                            <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {% autoescape off %}{% avatar user 40 %}{% endautoescape %}
                                {% with full_name=user.first_name|add:' '|add:user.last_name %}
                                    {% if full_name.strip %}
                                        {{ full_name | truncatechars:20 }}
                                    {% else %}
                                        {{ user.username | truncatechars:20 }}
                                    {% endif %}
                                {% endwith %}
                            </a>
                            <ul class="dropdown-menu dropdown-avatar">
                                <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                                <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                                {% if FAVORITE_ENABLED and user.is_authenticated %}
                                    <li><a href="{% url "favorite_list" %}">{% trans "Favorites" %}</a></li>
                                {% endif %}
                                <li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
                                {% if user.is_superuser or user.is_staff %}
                                    <li><a href="{% url "admin:index" %}">{% trans "Admin" %}</a></li>
                                    {% if 'geonode.geoserver' in INSTALLED_APPS %}
                                        <li><a href="{{ OGC_SERVER.default.WEB_UI_LOCATION }}">GeoServer</a></li>
                                    {% endif %}
                                    {% if USE_MONITORING %}
                                        <li>
                                            <a href="{% url "monitoring:index" %}">{% trans "Monitoring & Analytics" %}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                                <li class="logout"><a href="
                                        {% if SITEURL|default:""|slice:"-1:" == "/" %}{{ SITEURL }}{% else %}{{ SITEURL }}/{% endif %}account/logout/"><img
                                        src="{{ STATIC_URL }}img/icons/logout.png" alt="logout"/>{% trans "Log out" %}
                                </a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button">
                            {% trans "Sign in" %} </a></li>
                    {% endif %}
                </ul>
            </div> <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock header %}


{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li>Data</li>
                        <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a>
                        </li>
                        <li>
                            <a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a>
                        </li>
                        <li>
                            <a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url "layer_upload" %}">Upload Layer</a></li>
                            {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
                                <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
                            {% endif %}
                            <li><a href="{% url "document_upload" %}">Upload Document</a></li>
                        {% endif %}
                        {% if user.is_superuser or user.is_staff %}
                            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li>Maps</li>
                        <li>
                            <a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-unstyled">
                        <li>About</li>
                        <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                        <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                        {% if perms.announcements.can_manage %}
                            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                        {% endif %}
                        {% url "geonode.invitations:geonode-send-invite" as invite_url %}
                        {% if invite_url %}
                            <li><a href="{{ invite_url }}">{% trans "Invite Users" %}</a></li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
                            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-md-6 text-right">
                    {% block contactus %}
                    {% endblock contactus %}
                    <ul class="list-unstyled">
                        <li>{% trans "Powered by" %} <a href="http://cartoview.net">{% trans "Cartoview" %}</a>
                            <em>{% trans "version" %} {{ CARTOVIEW_VERSION }}</em></li>
                    </ul>
                    <label class="hidden">{% trans "Language" %}</label>
                    {% if csrf_token != "NOTPROVIDED" %}
                        {% get_current_language as LANGUAGE %}
                        <form class="form-inline" action="/i18n/setlang/" method="post">
                            {% csrf_token %}
                            <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %}
                                            selected="selected"{% endifequal %}>
                                        {{ lang.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}