{% load i18n %}

<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://cartoview.net/" class="nav-link">
                <span>cartoview.net</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>{% trans 'Developers' %}</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>{%  trans 'About'%}</span>
            </a>
        </li>
    </ul>
</footer>