{% load i18n %}
{% block footer_content %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            {% block footer_column_1 %}
                <ul class="list-unstyled">
                    <li>{% trans "Data" %}</li>
                    <li><a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Layers" %}</a>
                    </li>
                    <li>
                        <a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Documents" %}</a>
                    </li>
                    <li>
                        <a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Remote Services" %}</a>
                    </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
                        {% if USE_GEOSERVER and CREATE_LAYER %}
                            <li><a href="{% url "layer_create" %}">{% trans "Create Layer" %}</a></li>
                        {% endif %}
                        <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
                    {% endif %}
                    {% if user.is_staff or user.is_superuser %}
                        {% if not READ_ONLY_MODE %}
                            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endblock footer_column_1 %}
            </div>
            <div class="col-md-2">
            {% block footer_column_2 %}
                <ul class="list-unstyled">
                    <li>{% trans "Maps" %}</li>
                    <li>
                        <a href="{% url "maps_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}">{% trans "Explore Maps" %}</a>
                    </li>
                    {% if user.is_authenticated and not READ_ONLY_MODE %}
                        <li><a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
                    {% endif %}
                </ul>
            {% endblock footer_column_2 %}
            </div>
            <div class="col-md-2">
            {% block footer_column_3 %}
                <ul class="list-unstyled">
                    <li>{% trans "About" %}</li>
                    <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                    <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                    {% if perms.announcements.can_manage %}
                        <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                    {% endif %}
                    {% if user.is_authenticated and not READ_ONLY_MODE %}
                        <li><a href="{% url "geonode.invitations:geonode-send-invite" %}">{% trans "Invite Users" %}</a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser and not READ_ONLY_MODE %}
                        <li><a href="
                                {% if SITEURL|default:""|slice:"-1:" == "/" %}{{ SITEURL }}{% else %}{{ SITEURL }}/{% endif %}admin/people/profile/add/">{% trans "Add User" %}</a>
                        </li>
                        <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                    {% endif %}
                </ul>
            {% endblock footer_column_3 %}
            </div>
            <div class="col-md-6 text-right">
            {% block footer_column_4 %}
                {% block contactus %}
                    {% if custom_theme.contactus %}
                        <ul class="list-unstyled">
                            <li style="text-align: left;"><h2 style="margin-top: 0px;">{% trans "Contact Us" %} </h2>
                            </li>
                            {% if custom_theme.contact_name %}
                                <li style="text-align: left;">{{ custom_theme.contact_name }}</li>{% endif %}
                            {% if custom_theme.contact_position %}
                                <li style="text-align: left;">{{ custom_theme.contact_position }}</li>{% endif %}
                            {% if custom_theme.contact_administrative_area %}
                                <li style="text-align: left;">{{ custom_theme.contact_administrative_area }}</li>{% endif %}
                            {% if custom_theme.contact_city %}
                                <li style="text-align: left;">{{ custom_theme.contact_city }}</li>{% endif %}
                            {% if custom_theme.contact_street %}
                                <li style="text-align: left;">{{ custom_theme.contact_street }}</li>{% endif %}
                            {% if custom_theme.contact_postal_code %}
                                <li style="text-align: left;">{{ custom_theme.contact_postal_code }}</li>{% endif %}
                            {% if custom_theme.contact_country %}
                                <li style="text-align: left;">{{ custom_theme.contact_country }}</li>{% endif %}
                            {% if custom_theme.contact_delivery_point %}
                                <li style="text-align: left;">{{ custom_theme.contact_delivery_point }}</li>{% endif %}
                            {% if custom_theme.contact_voice %}
                                <li style="text-align: left;">{% trans "Tel" %}: {{ custom_theme.contact_voice }}</li>{% endif %}
                            {% if custom_theme.contact_facsimile %}
                                <li style="text-align: left;">{% trans "Fax" %}: {{ custom_theme.contact_facsimile }}</li>{% endif %}
                            {% if custom_theme.contact_email %}
                                <li style="text-align: left;">{% trans "E-mail" %}: {{ custom_theme.contact_email }}</li>{% endif %}
                        </ul>
                    {% endif %}
                {% endblock contactus %}
                {% block powered_by %}
                <ul class="list-unstyled">
                    <li>{% trans "Powered by" %} <a href="https://cartoview.net">{% trans "Cartoview" %}</a>
                        {% if user.is_staff %} <em>{% trans "version" %} {{ CARTOVIEW_VERSION }}</em>{% endif %}</li>
                    <li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a
                            href="{% url "about" %}">{% trans "About" %}</a>
                    <li>
                </ul>
                {% endblock powered_by %}
                {% block lanaguage_selector %}
                <label class="hidden">{% trans "Language" %}</label>
                {% if csrf_token != "NOTPROVIDED" %}
                    {% get_current_language as LANGUAGE %}
                    <form class="form-inline" action="/i18n/setlang/" method="post">
                        {% csrf_token %}
                        <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
                            {% for lang in LANGUAGES %}
                                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %}
                                        selected="selected"{% endifequal %}>
                                    {{ lang.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                {% endif %}
                {% endblock lanaguage_selector %}
            {% endblock footer_column_4 %}
            </div>
        </div>
    </div>
</footer>

{% block copyright %}
    {% if custom_theme.copyright %}
        <section class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 copyright ">
                        <div class="module">
                            <small>{{ custom_theme.copyright|safe }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
{% endblock footer_content %}