{% extends "cartoview/base.html" %}
{% load i18n %}
{% block title %} {{ block.super }} {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cartoview/css/index.css">
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{{ STATIC_URL }}cartoview/js/index.js"></script>

{% endblock %}
{% block body_directives %}ng-app="cartoview.index"{% endblock %}
{% block body %}
<div class="index-intro"  layout-padding layout="row" layout-wrap>
    <div layout-padding flex-gt-md="50" flex="100">
        <h1>Cartoview</h1>
        <h2>Build a geospatial website in minutes with Cartoview</h2>
        <h2>Manage GIS Web Mapping Applications</h2>
        <p>Cartoview enables the rapid deployment of easy-to-manage and easy-to-use spatial web applications</p>
        <p class="actions">
            <md-button class="md-raised" aria-label="{% trans "Join" %}" href="{% url "account_signup" %}">{% trans "Join" %}</md-button>
            and manage your geo-app or
            <md-button  class="md-raised md-primary" aria-label="{% trans "Download" %}" href="http://cartologic.com/cartoview/download/">
                {% trans "Download" %}</md-button>
            and install on your environment.
        </p>
    </div>
    <div flex-gt-md="50" flex="100">
        <img src="http://cartologic.com/cartoview/static/cartoview/img/cartoview-banner.png">
    </div>

</div>
<div  layout-align="center center" layout="column" layout-padding>
    <h1>About Cartoview</h1>
    <div layout="row" flex layout-wrap>
        <div flex-lg="25" flex-md="50" flex-sm="100" class="md-padding">
            CartoView will extend the popular <a href="http://geonode.org/" target="_blank">GeoNode</a> SDI to provide the ability to create,
            share, and visualize GIS Web Mapping Applications very easily and very quickly from the browser without programming.
        </div>
        <div flex-lg="25" flex-md="50" flex-sm="100" class="md-padding">
            Cartoview enables communities of users to share geospatial applications, to collaborate on these applications,
            and to exchange the underlying data as Open Geospatial Consortium (OGC) compliant web services
        </div>
        <div flex-lg="25" flex-md="50" flex-sm="100" class="md-padding">
            CartoView has been built utilizing open source software and open standards to make it available for all GIS
            operators and to maximize interoperability.
        </div>
        <div flex-lg="25" flex-md="50" flex-sm="100" class="md-padding">
            CartoView expands <a href="http://boundlessgeo.com/" target="_blank">Boundless</a> products
            <a href="http://boundlessgeo.com/products/opengeo-suite/" target="_blank">Opengeosuite</a> and
            <a href="http://geonode.org/" target="_blank">GeoNode</a> to serve and author GIS web applications.
            CartoView is developed and maintained by <a href="http://cartologic.com">CartoLogic</a>
        </div>
    </div>
</div>
<div class="footer">
    <p>Powered By <a href="http://cartologic.com">CartoLogic</a></p>
</div>
{% endblock %}
