{% load i18n %}

<div class="search">
    <form id="search" action="{% url "search" %}">
        <span class="fa fa-search"></span>
        <div id="search-container" class="autocomplete-input">
            {% if HAYSTACK_SEARCH %}
                <input autocomplete="off" id="search_input" type="text"
                       placeholder="{% trans 'Search' %}" name="q">
                <input type="hidden" name="abstract__icontains" id="search_abstract_input"
                       placeholder="{% trans 'Search' %}">
                <input type="hidden" name="purpose__icontains" id="search_purpose_input"
                       placeholder="{% trans 'Search' %}">
                <input type="hidden" name="f_method" id="filtering_type" value="or">
            {% else %}
                <input autocomplete="off" type="text" name="title__icontains" id="search_input"
                       placeholder="{% trans 'Search' %}">
                <input type="hidden" name="abstract__icontains" id="search_abstract_input"
                       placeholder="{% trans 'Search' %}">
                <input type="hidden" name="purpose__icontains" id="search_purpose_input"
                       placeholder="{% trans 'Search' %}">
                <input type="hidden" name="f_method" id="filtering_type" value="or">
            {% endif %}
        </div>
    </form>
</div>