<style type="text/css">
        /* Additional styles by custom themes */
        {% if custom_theme.body_color %}
        body {
          background: {{ custom_theme.body_color }};
          {% if custom_theme.body_text_color %}
          color: {{ custom_theme.body_text_color }};
          {% endif %}
        }

        .home #partners {
          background: {{ custom_theme.body_color }};
          padding: 2em 0;
          text-align: center;
        }
        {% endif %}

        {% if custom_theme.navbar_color %}
        .home .navbar-inverse , .navbar-inverse {
          background-color: {{ custom_theme.navbar_color }};
        }
        {% endif %}

        {% if custom_theme.navbar_text_color %}
        .navbar-inverse .navbar-nav > li > a {
          color: {{ custom_theme.navbar_text_color }};
          font-weight: 600;
          padding-top: 25px;
          padding-bottom: 25px;
        }
        {% endif %}

        {% if custom_theme.navbar_text_hover %}
        .navbar-inverse .navbar-nav > li > a:hover {
          background-color: {{ custom_theme.navbar_text_hover }};
        }
        {% endif %}

        {% if custom_theme.navbar_text_hover_focus %}
        .navbar-inverse .navbar-nav > .open > a,
        .navbar-inverse .navbar-nav > .open > a:hover,
        .navbar-inverse .navbar-nav > .open > a:focus {
          background-color: {{ custom_theme.navbar_text_hover_focus }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu %}
        .navbar-nav .dropdown-menu {
          background-color: {{ custom_theme.navbar_dropdown_menu }};
          border-top: 1px solid {{ custom_theme.navbar_dropdown_menu }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_text %}
        .navbar-nav .dropdown-menu a {
          color: {{ custom_theme.navbar_dropdown_menu_text }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_hover %}
        .navbar-nav .dropdown-menu li a:hover {
          background-color: {{ custom_theme.navbar_dropdown_menu_hover }};
          color: {{ custom_theme.navbar_dropdown_menu_text }};
        }
        {% endif %}

        {% if custom_theme.navbar_dropdown_menu_divider %}
        .navbar-nav .dropdown-menu .divider {
          background-color: {{ custom_theme.navbar_dropdown_menu_divider }};
        }
        {% endif %}

        {% if custom_theme.logo %}
        .navbar-brand {
          background-image: url({{ custom_theme.logo.url }});
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
        {% endif %}

        {% if custom_theme.jumbotron_color %}
        .home .jumbotron {
          background-color: {{ custom_theme.jumbotron_color }}
        }
        {% endif %}

        {% if custom_theme.jumbotron_title_color %}
        .home .jumbotron h1,
        .home .jumbotron h2,
        .home .jumbotron h3 {
          color: {{ custom_theme.jumbotron_title_color }}
        }
        {% endif %}

        {% if custom_theme.jumbotron_text_color %}
        .home .jumbotron p {
          color: {{ custom_theme.jumbotron_text_color }};
          font-weight: normal;
          font-size: xx-large;
          font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
        }
        {% endif %}

        {% if custom_theme.jumbotron_welcome_hide %}
        .home .jumbotron .container {
          visibility: hidden;
        }
        {% endif %}

        {% if custom_theme.jumbotron_bg %}
        .home .jumbotron .container {
          position: relative;
          z-index: 1;
        }
        .home .jumbotron:after {
          content: "";
          background-image: url({{ custom_theme.jumbotron_bg.url }});
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          {% if not custom_theme.jumbotron_welcome_hide %}
          opacity: 0.5;
          {% endif %}
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          z-index: 0;
        }
        {% endif %}

        {% if custom_theme.search_bg_color or custom_theme.search_title_color %}
        .home .big-search {
          background: {{ custom_theme.search_bg_color }};
          color: {{ custom_theme.search_title_color }};
          padding-bottom: 3em;
          padding-top: 1em;
        }
        .home .big-search .btn-default {
          background: transparent;
          border: none;
          color: {{ custom_theme.search_link_color }};
        }
        {% endif %}

        {% if custom_theme.copyright_color %}
        .footer-copyright {
          background-color: {{ custom_theme.copyright_color }};
        }
        {% endif %}

        {% if custom_theme.footer_bg_color or custom_theme.footer_text_color or custom_theme.footer_href_color %}
        footer {
          background-color: {{ custom_theme.footer_bg_color }};
          color: {{ custom_theme.footer_text_color }};
          padding: 1.5em;
        }
        footer a {
          color: {{ custom_theme.footer_href_color }};
        }
        {% endif %}
      </style>