{% extends "createlayer/layer_create.html" %}

{% load i18n bootstrap_tags base_tags %}

{% block body_class %}layers {{ block.super }}{% endblock %}

{% block brand %}
    {% with brand_url_name="layer_browse" brand_title="Layers"%}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block top_middle %}{% trans "Create an empty layer" %}{% endblock %}


{% block body_outer %}
<div class="row">
  <div class="col-md-8">

    {% if error %}
    <div id="errors" class="alert alert-danger">
      <p>{{ error }}</p>
    </div>
    {% endif %}

    <section>
      <form id="layer-create-form"  method="post" action="{% url "layer_create" %}">
        {% csrf_token %}
        {{ form|as_bootstrap }}

        <div class="input-attrs-wrap">
          <button id="add-attr-button" class="add-attr-button btn btn-primary">{% trans "Add Attribute" %}</button>
        </div>

        <button type="submit" id="layer-create-button" class="btn btn-danger" style="margin-top:20px">{% trans "Create" %}</button>

      </form>
    </section>

  </div>

  {% display_change_perms_button resource request.user perms_list as display_perms_button %}
  {% if display_perms_button %}
  <div class="col-md-4">
    <h3>{% trans "Permissions"  %}</h3>
    <form id="permission_form">
      {% include "_permissions.html" %}
    </form>
  </div>
  {% endif %}

</div>
{% endblock %}