html,
body {
	height: 100%;
	margin: 0;
}

.content {
	padding-top: 58px;
	min-height: 100%;
	padding-bottom: 42px;
}

.content-inside {
	padding-top: 58px;
	box-sizing: border-box;
	padding-bottom: 42px;
}

.footer {
	position: relative;
	height: 50px;
	margin-top: -50px;
	box-sizing: border-box;
}

.inherit-height {
	height: inherit;
}

* {
	margin: 0px;
	padding: 0px
}
.center {
	margin: auto;
	/* margin-right: auto; */
}