.navbar-brand {
	height: 50px;
    width: 180px;
    margin-right: 0;
    margin-top: 3px;
	background: rgba(0, 0, 0, 0) url("../img/logo.png") no-repeat scroll 15px 0;
}

.jumbotron {
	background-image: linear-gradient(to bottom, #235c73 0px, #112d39 100%);
}

.home-btns{
	margin-top:20px;
}

.home-btns a{
	color:#FFF;
	margin-right: 5px;
}