{% extends "app_manager/appinstance_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Explore Apps" %} - {{ block.super }} {% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{{STATIC_URL}}app_manager/css/appinstance_list.css">
{% endblock %}
{% block body_class %}appinstances appinstances-list explore{% endblock %}

{% block body %}
<div class="page-header">
        {% if not user.is_authenticated and request.GET.app__title %}
        {% verbatim %}
        <a class="btn btn-primary pull-right"
           href="/account/login?next=/cv_apps/{{ app_name }}/new">
            {% endverbatim %}
            {% trans "Create New" %}
            {% verbatim %}
        </a>
        {% endverbatim %}
    {% else %}
        {% if request.GET.app__title %}
            {% verbatim %}
            <a class="btn btn-primary pull-right" ng-href="/cv_apps/{{ app_name }}/new/">Create
                New</a>
            {% endverbatim %}
        {% endif %}

    {% endif %}
    <h2 class="page-title">{% verbatim %}{{ appTitle }}{% endverbatim %}</h2>
  </div>
    {% with include_type_filter='true' %}
        {% with facet_type='appinstances' %}
            {% with header='App Type' %}
                {% with filter='app__title' %}
                    {% include "app_instance/_search_content.html" %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
    {% include "_bulk_permissions_form.html" %}
{% endblock %}

{% block extra_script %}
    {{block.super}}
    {% if GEONODE_SECURITY_ENABLED %}
        {% include "_permissions_form_js.html" %}
    {% endif %}
    <script type="text/javascript">
        {% if HAYSTACK_SEARCH %}
            SEARCH_URL = '{% url 'api_get_search' api_name='api' resource_name='appinstances'%}';
            APPS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='app' %}';
        {% else %}
            SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='appinstances' %}';
            APPS_ENDPOINT = '{% url 'api_dispatch_list' api_name='api' resource_name='app' %}';
        {% endif %}
        FILTER_TYPE = 'appinstance';
    </script>
    {% with include_spatial='true' %}
        {% include 'app_instance/search_scripts.html' %}
    {% endwith %}


    <!-- <script src="{{STATIC_URL}}cartoview/slider/dist/AppsList.bundle.js" ></script> -->
{% endblock extra_script %}
