{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles%}
{% load i18n %}

{% block title %} {% trans "Install App" %} - {{ block.super }} {% endblock %}

{% block body_class %}appinstances appinstances-list explore{% endblock body_class %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}

    {{ block.super }}
    <link href="{% static 'app_manager/app.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="col-md-8 col-md-offset-2">
    <div>
        {% include "app_manager/apps_table.html" %}
    </div>

    <div style="padding: 10px;height: 50px;">
        {% if user.is_staff  %}
        <button id="btn-show-install" type="button" class="btn btn-primary">
            Install New App
        </button>
        {% endif %}
        <a  class="btn btn-primary pull-right" href="http://cartologic.com/cartoview/apps/">
             Get more apps <i class="fa fa-angle-double-right"></i>
        </a>
    </div>
    <div>
        {% include "app_manager/install_app_panel.html" %}
        {% include "app_manager/install_result.html" %}
        {% include "app_manager/edit_launcher_modal.html" %}
    </div>

</div>
{% endblock %}



{% block extra_script %}
<script src="{% static 'app_manager/jquery-jtemplates.js' %}"></script>
<script src="{% static 'app_manager/Sortable.js' %}"></script>

<script>
    var  ajax_install_app_url= "{% url 'ajax_install_app' %}" ;
    var home_url = "{% url 'home' %}";
    var app_manager_base_url = "{% url 'app_manager_base_url' %}";
    var save_app_orders_url = "{% url 'save_app_orders' %}";
    var loading_gif_src = "{% static 'app_manager/images/ajax-loader.gif' %}";
    var csrf_token = '{{csrf_token}}';
</script>
<script src="{% static 'app_manager/install.js' %}"></script>


{% endblock extra_script %}
