{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}appinstances{% endblock %}

{% block body_outer %}
    <style>
    body.appinstances li#nav_appinstances a{color:white}
</style>
{% block body %}{% endblock body %}
{% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}
{% block extra_script %}
    <script src="{{STATIC_URL}}compare-versions/index.js"></script>
    {{block.super}}
    <script src="{{ STATIC_URL }}app_manager/vendor/angular-img-fallback/angular.dcb-img-fallback.min.js"/>
{% endblock %}
