{% load bootstrap_tags staticfiles%}
{% load i18n %}

{% if apps.count > 0   %}
<h3>{% trans 'Installed Apps' %}:</h3>
<table class="table table-striped table-bordered sortable" style="margin-top:20px;">
        <thead>
            <tr>
                <th data-defaultsort="asc">Name</th>
                <th ></th>
            </tr>
        </thead>
        <tbody id="table-apps">
            {% for app in apps %}
            <tr id="app_{{app.id}}_row">
                <td>{{app.title}}</td>
                <td>
                    {% if app.settings_url %}
                    <a title="App Settings" href="{{app.settings_url}}" class="btn btn-default pull-left">Settings</a>
                    {% endif %}

                    <a  href="{% url 'cartoview_uninstall_app_url' app.name %}" type="button" class="pull-left btn btn-danger btn-uninstall-app">Uninstall</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}