{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles cartoview_tags %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Applications" %} {% endblock %}

{% block body_class %}appinstances appinstances-list explore{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
        h1, h2, h3, h4, h5, h6, p {
            word-wrap: break-word;
        }
        .thumbnail{
            -webkit-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.24);
            -moz-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.24);
            box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.24);
        }
        #card-buttons{
            text-align: center;
            padding: 5px;
            margin-left: auto;
            margin-right: auto
        }
    </style>
{% endblock %}
{% block body %}
    <link href="{% static 'app_manager/apps_list.css' %}" rel="stylesheet">
    <div class="page-header">
        {% if user.is_staff %}
            <a href="{% url 'manage_apps' %}" class="btn btn-primary pull-right">{% trans "Manage Apps" %}</a>

        {% endif %}
        {% if not user.is_authenticated %}
            <a class="btn button_shadow btn-primary pull-right" style="color: white;margin-right: 10px"
               href="{% url 'account_login' %}?next={% url 'app_manager_base_url' %}"
               role="button">
                {% trans "Create New App" %}
            </a>
        {% endif %}
        <h2>{% trans "Explore Apps" %}</h2>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="apps-wrapper">

                {% for app in Apps %}
                    {% if not app.config.pending and app.config.active and app.name != "cartoview_attachment_manager" %}
                        <div class="flex-item">
                            <div class="thumbnail">
                                <img src="{{ STATIC_URL }}{{ app.name }}/logo.png" class="app-img">
                                <div class="fill-empty flex-row" >
                                    <h4 class="text-center">{{ app.title }}</h4>
                                    <p class="text-center" >
                                        {% if app.description %}
                                            {% with truncated_desc=app.description|truncatewords:9 %}
                                            {{ truncated_desc }}
                                                {% if app.description|length > truncated_desc|length %}
                                                    <a href="javascript:;" data-placement="bottom" data-trigger="hover"
                                                       onclick="" data-toggle="popover" title="Description"
                                                       data-content="{{ app.description }}">{% trans "More" %}</a>
                                                {% endif %}
                                            {% endwith %}
                                        {% else %}
                                            {% trans "No Description Provided" %}
                                        {% endif %}

                                    </p>
                                    <div class="fill-empty">
                                    </div>
                                    <div class="text-center" style="display:flex;flex-wrap:wrap">
                                        {% if app.single_instance %}
                                            <div style="margin-right:auto;margin-left:auto" id="card-buttons">
                                                    <a href="{{app.open_url}}"
                                                    target="_parent" class="btn btn-sm btn-primary">{% trans "Open" %}</a>
                                            </div>

                                        {% else %}
                                        <div id="card-buttons">
                                            <a href="{% url 'appinstance_browse' %}?app__name__in={{ app.name }}&&app__title={{app.title}}"
                                               target="_parent" class="btn btn-sm btn-primary">{% trans "Explore" %} <span
                                                    class="badge">{{ app.appinstance_set.all|objects_count:request.user }}</span></a>
                                        </div>
                                        {% comment %}
                                        REMOVE THE FOLLOWING CONDITION AFTER FIXING __init__.py OF ALL MULTIPLE INSTANCE APPS
                                        {% endcomment %}
                                            {% if not user.is_authenticated or not request.user.is_staff  %}
                                            <div id="card-buttons">
                                                <a class="btn btn-sm btn-primary"
                                                   href="{% url 'account_login' %}?next={{app.create_new_url}}">
                                                    {% trans "Create New" %}
                                                </a>
                                            </div>
                                            {% endif %}

                                        {% endif %}
                                        {% if app.anonymous_urls %}
                                            {% for key, values in app.anonymous_urls.items %}
                                                {% url key as the_url %}
                                                {% if the_url %}
                                                <div id="card-buttons">
                                                    <a href="{{ the_url }}" target="_parent"
                                                       class="btn btn-sm btn-primary"> {{ values }}</a>
                                                </div>
                                                    &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if user.user.is_authenticated and app.logged_in_urls %}
                                            {% for key, values in app.logged_in_urls.items %}
                                                {% url key as the_url %}
                                                {% if the_url %}
                                                <div id="card-buttons">
                                                    <a href="{{ the_url }}" target="_parent"
                                                       class="btn btn-sm btn-primary"> {{ values }}</a>
                                                </div>
                                                    &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if user.is_staff and  app.admin_urls %}
                                            {% for key, values in app.admin_urls.items %}
                                                {% url key as the_url %}
                                                {% if the_url %}
                                                <div id="card-buttons">
                                                    <a href="{{ the_url }}" target="_parent"
                                                       class="btn btn-sm btn-primary"> {{ values }}</a>
                                                </div>
                                                    &nbsp;
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% empty %}
                    <div class="text-center">
                        <h1>{% trans "No Apps Installed" %}</h1>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
    <script>
        $(function () {
            $('.item').matchHeight({
                byRow: false,
                property: 'height',
                target: null,
                remove: false
            });
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}


