{% extends "cartoview/base.html" %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "Applications" %} {% endblock %}

{% block styles %}
<style>
    .app-list-item{
        margin: 5px;
    }
    .app-list-item img{
        width: 25%;
    }
    .app-list-item h4{
        margin: 8px;
        padding: 0;
    }
    .app-list-item p{
        margin: 0 8px;
        padding: 0;
    }
.app-image-ct{
    height: 150px;
    overflow: hidden;
    padding: 0;
    max-width:200px;

}
.app-image-ct img{
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}
.app-info{
    border-left: solid 1px #ccc;
}
</style>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/ng-image-appear.min.js"></script>
    <script type="text/javascript">
        angular.module("cartoview.apps", ["cartoview.base", 'ngImageAppear'])
    </script>
{% endblock %}
{% block body_directives %}ng-app="cartoview.apps" {% endblock %}
{% block body %}
<div layout="column" layout-padding>
    <div layout="row" layout-align="center center" layout-wrap>
        <div layout="row" flex="100" flex-gt-sm="80">
            <h2 flex>{% trans "Explore Apps" %}</h2>
            {% if user.is_staff  %}
                <div>
                    <md-button href="{% url 'manage_apps' %}" class="md-primary md-raised">{% trans "Manage Apps" %}</md-button>
                </div>
            {% endif %}
        </div>

    </div>
    {% for app in Apps %}
    {% if app.in_menu %}
    <div layout="row" layout-align="center center">
        <div md-whiteframe="2" layout="row" class="app-list-item" layout-wrap  flex="100" flex-gt-sm="80">

            <div class="app-image-ct" layout="row" layout-align="center center">
                <img src="{{STATIC_URL}}{{app.name}}/logo.png">
            </div>

            <div class="app-info" flex layout-padding>
                <h4>{{app.title}}</h4>
                <p >{{app.description}}</p>
                <div layout="row" layout-wrap>
                    {% if app.single_instance %}
                    <md-button  href="{% url 'app_manager_base_url' %}{{app.name}}" target="_parent" class="md-primary md-raised">
                        <md-icon>visibility</md-icon> Explore
                    </md-button>
                    {% else %}
                    <md-button href="{% url 'appinstance_browse' %}?app__title={{app.title}}" target="_parent" class="md-primary md-raised"><i class="fa fa-fw fa-eye"></i> Explore</md-button>
                        {% endif %}
                        {% if app.anonymous_urls %}
                            {% for key, values in app.anonymous_urls.iteritems %}
                                {% url key as the_url %}
                                {% if the_url %}
                                <md-button href="{{ the_url }}" target="_parent" class="md-primary md-raised"> {{ values }}</md-button>&nbsp;
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if user.user.is_authenticated and app.logged_in_urls %}
                                {% for key, values in app.logged_in_urls.iteritems %}
                                    {% url key as the_url %}
                                    {% if the_url %}
                                        <md-button href="{{ the_url }}" target="_parent" class="md-primary md-raised"> {{ values }}</md-button> &nbsp;
                                    {% endif %}
                                {% endfor %}
                        {% endif %}
                    {% if user.is_staff and  app.admin_urls  %}
                            {% for key, values in app.admin_urls.iteritems %}
                                    {% url key as the_url %}
                                    {% if the_url %}
                                        <md-button href="{{ the_url }}" target="_parent" class="md-primary md-raised"> {{ values }}</md-button>&nbsp;
                                    {% endif %}
                            {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}
