{% load i18n avatar_tags cartoview_tags %}
<script type="text/javascript">
    angular.module('cartoview.urlsHelper',[]).constant('urls', {
        BASE_URL: "/",
        GEOSERVER_BASE_URL: "{{ GEOSERVER_BASE_URL }}",
        PROXY_URL: "{{ PROXY_URL }}",
        MEDIA_URL: "{{ MEDIA_URL }}",
        STATIC_URL: "{{ STATIC_URL }}",
        APPS_BASE_URL: "{% url 'app_manager_base_url' %}",
        REST_URL: "{% url 'app_manager_base_url' %}rest/app_manager/",
        GEONODE_REST_URL: "{% url 'api_api_top_level' 'api' %}/",
        BULK_INSTALL: "{% url 'bulk_install'  api_name='api' resource_name='app' %}",
        RESTART_SERVER: "{% url 'restart_server'  api_name='api' resource_name='app' %}",
    });
    angular.module('cartoview.userInfo',[]).service("cartoviewUser",function () {
        {% if user.is_authenticated %}
            this.isAuthenticated = true
        {% else %}
            this.isAuthenticated = false
        {% endif %}
        {% if user.is_superuser %}
            this.isSuperUser = true
        {% else %}
            this.isSuperUser = false
        {% endif %}
        this.loginUrl = "{% url 'account_login' %}?next={{ request.get_full_path }}";
        this.logoutUrl = "{% url 'account_logout' %}";
        this.registerUrl = "{% url 'account_signup' %}";
        //{% if user.is_authenticated %}
        this.username = "{{ user.username }}";
        this.avatar = "{% avatar_url user 60 %}";
        //{% endif %}
    });
</script>