{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles%}
{% load i18n avatar_tags cartoview_tags %}

{% block title %} {% trans "Install App" %} - {{ block.super }} {% endblock %}

{% block body_class %}appinstances appinstances-list explore{% endblock body_class %}
{% block head %}

    {{ block.super }}
    <link href="{% static 'app_manager/css/manager.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}


<div class="col-md-8 col-md-offset-2 manager-ct" ng-app="cartoview.appManager.manager">

    <cartoview-app-manager></cartoview-app-manager>
    <cartoview-app-installer></cartoview-app-installer>

    <script type="text/ng-template" id="confirm-dialog.html">
        <div class="modal-header">
            <h4 class="modal-title">{% verbatim %}{{options.title}}{% endverbatim %}</h4>
        </div>
        <div class="modal-body">
            <div dynamic-template template="options.template" context="options"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{% verbatim %}{{options.okText}}{% endverbatim %}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{% trans 'Cancel' %}</button>
        </div>
    </script>
    <script type="text/ng-template" id="app-installer.html">

        <div>
            <div class="alert alert-danger">
                <h4><span class="fa fa-exclamation-triangle"></span> Warning!</h4>
                Please note that the web server will be restarted after installing
                or uninstalling any application.
            </div>
            <div class="restart-msg" ng-show="restarting">
                <div class="centered alert alert-danger">
                    <i class="fa fa-refresh rotating"></i> Restarting Apache, Please Wait...
                </div>

            </div>
            <div class="form-group" ng-show="stores.objects.length > 1">
                <label>{% trans "Store" %}</label>
                <select class="form-control"
                        ng-model="selectedStoreId"
                        ng-options="store.id as store.name for store in stores.objects">
                </select>
            </div>
            <div class="row reorder-btn-ct">
                <a ng-click="reorder()" class="btn btn-primary pull-right">Reorder Installed Apps</a>
            </div>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="app in getSelectedStore().apps.objects">
                    {% verbatim %}
                    <h4 class="list-group-item-heading">
                        <img class="app-logo" ng-src="{{ app.latest_version.logo }}">
                        {{ app.title }}
                        <span class="label label-info">{{ app.latest_version.version }}</span>
                        <span class="label label-success pull-right" ng-show="app.installedApp"> installed version {{ app.installedApp.version }}</span>

                    </h4>
                    {% endverbatim %}
                    <div class="list-group-item-text">
                        <alerts-panel messages="app.messages"></alerts-panel>
                        <div class="pull-right">
                            <a ng-if="!app.installedApp" ng-click="install(app)" class="btn btn-primary" ng-disabled="installing">
                                <span class="fa fa-circle-o-notch rotating" ng-show="installing==app"></span>
                                Install<span ng-show="installing==app">ing</span>
                            </a>
                            <a ng-if="app.installedApp && app.latest_version.version > app.installedApp.version" ng-click="install(app, true)" class="btn btn-primary" ng-disabled="installing">
                                <span class="fa fa-circle-o-notch rotating" ng-show="installing==app"></span>
                                <span ng-show="installing!=app">Upgrade</span><span ng-show="installing==app">Upgrading</span>
                            </a>
                            <a ng-if="app.installedApp" ng-click="uninstall(app)" class="btn btn-danger"  ng-disabled="installing">
                                <span class="fa fa-circle-o-notch rotating" ng-show="installing==app"></span>
                                UnInstall<span ng-show="installing==app">ing</span>
                            </a>

                            <a ng-if="app.installedApp" ng-click="toggleActive(app)" class="btn btn-warning">
                                <span ng-show="app.installedApp.active">Suspend</span>
                                <span ng-show="!app.installedApp.active">Activate</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </script>
    <script type="text/ng-template" id="apps-reorder.html">
        <label>Drag and drop items to reorder</label>
        <div class="apps-reorder-list">
            <ul dnd-list="installedApps">
                <li ng-repeat="app in installedApps"
                    dnd-draggable="app"
                    dnd-moved="installedApps.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = app"
                    ng-class="{'selected': models.selected === app}">
                    {% verbatim %}{{app.title}}{% endverbatim %}
                </li>
            </ul>
        </div>
    </script>

</div>

<!-- load angularjs here before loading angular from geonode/assets.js-->
<script type="text/javascript" src='{{ STATIC_URL }}vendor/angular/angular.min.js'></script>
{% endblock %}



{% block extra_script %}
    {{ block.super }}

    <script type="text/javascript" src="{% url 'check_version' %}"></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-animate/angular-animate.min.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}vendor/angular-aria/angular-aria.min.js'></script>
    {% include "app_manager/dynamic_scripts.html" %}

    <script src="{{ STATIC_URL }}vendor/angular-resource/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="{{ STATIC_URL }}app_manager/js/resources.js"></script>
    <script src="{{ STATIC_URL }}app_manager/js/manager.js"></script>
{% endblock %}
