{% extends "site_base.html" %}
{% load i18n staticfiles bootstrap3 %}


{% block title %} {{ block.super }} {% endblock %}
{% block extra_head %}
    <style>
        ul.thumbnails.image_picker_selector {
            overflow: auto;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            width:100%;
        }
        ul.thumbnails.image_picker_selector ul {
            overflow: auto;
            list-style-image: none;
            list-style-position: outside;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            width:100%;
        }
        ul.thumbnails.image_picker_selector li.group_title {
            float: none;
        }
        ul.thumbnails.image_picker_selector li {


        }
        ul.thumbnails.image_picker_selector li .thumbnail {
            padding: 6px;
            border: 1px solid #dddddd;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
        ul.thumbnails.image_picker_selector li .thumbnail img {
            -webkit-user-drag: none;
            width: 100%;
        }
        ul.thumbnails.image_picker_selector li .thumbnail p {
            height: 60px;
            padding-top: 10px;
        }
        ul.thumbnails.image_picker_selector li .thumbnail.selected {
            background: #0088cc;
        }
    </style>
    {% if extra_header_tpl %}
        {% include extra_header_tpl %}
    {% endif %}
{% endblock %}

{% block body_class %}appinstances{% endblock %}

{% block body_outer %}

    <div class="row">
        {% block body %}
            <div class="page-header">
                <h2 class="page-title">Edit</h2>
            </div>
            <ul class="nav nav-pills nav-stacked col-md-2">
                <li class="active"><a href="#tab_webmap" data-toggle="pill">{% trans 'Web map' %}</a></li>
                <li><a href="#tab_general" data-toggle="pill">{% trans 'General' %}</a></li>
                <li><a href="#tab_config" data-toggle="pill">{% trans 'Configuration' %}</a></li>
                {% for tab in tabs %}
                <li><a href="#tab_{{ forloop.counter }}" data-toggle="pill">{{ tab.title }}</a></li>
                {% endfor %}
            </ul>
            {{ app_instance_form.media }}
            <form id='addForm' class="form-horizontal" role="form" method="post" enctype="multipart/form-data"> {% csrf_token %}
                <div class="tab-content col-lg-10">
                    <div class="tab-pane active" id="tab_webmap">
                        {{ app_instance_form.web_map_id }}
                        <h4>{% trans 'Select web map' %}</h4>
                        <div class="col-md-12" id="maps-body">
                            <img id="loading_img" style="display: none" src="{% static '' %}app_manager/loading.gif">

                            <div id="page-selection" class="pull-right"></div>
{#                            <p>From <span id="maps-from"></span> to <span id="maps-to"></span> of <span id="maps-count"></span></p>#}
                            <select id="maps-select" class="image-picker show-html hide" name="geonode_map_id"></select>

                        </div>

                    </div>
                    <div class="tab-pane" id="tab_general">
                        {% bootstrap_form form  %}
                    </div>
                    <div class="tab-pane" id="tab_config">
                        {% bootstrap_form config_form  %}
                    </div>
                    {% for tab in tabs %}
                        <div class="tab-pan" id="tab_{{ forloop.counter }}">
                        {% if tab.tpl %}{% include tab.tpl  %}{% endif %}
                        </div>
                    {% endfor %}

                </div><!-- tab content -->
                <div id="load" class="form-group">
                    <button class="btn btn-primary pull-right" title="Save" type="submit">Save</button>
                </div>
            </form>

        {% endblock body %}
        {% block sidebar %}{% endblock sidebar %}
    </div>
{% endblock body_outer %}

{% block extra_script %}
    <script src="{% static '' %}image-picker/image-picker.js"></script>
    <script src="{% static '' %}jquery.bootpag.min.js"></script>
    <script type="text/javascript">
        var MAP_LIST_URL = '{% url "app_manager_base_url" %}rest/app_manager/geonodemap/'
    </script>
    <script src="{% static '' %}app_manager/new_map_app.js"></script>
    {{ config_form.media }}
{% endblock %}