{% extends "groups/activity.html" %}

{% load i18n activity_tags social_tags %}

{% block brand %}
    <div class="navbar-brand no-logo">
        <a href="{% url 'group_list' %}">
        {% block brand_title%}{% trans 'Groups' %}{% endblock %}
        </a>
        <span>{% block brand_details %}
            {%  trans "Activity Feed for"  %}: {{ group.title }}
        {% endblock %}</span>
    </div>
{% endblock %}

{% block body_outer %}
<div class="row">
  <div class="col-md-8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#all" data-toggle="tab"><i class=""></i>{% trans "All" %}</a></li>
      <li><a href="#layers" data-toggle="tab"><i class="fa fa-square-o rotate-45"></i> {% trans "Layers" %}</a></li>
      <li><a href="#maps" data-toggle="tab"><i class="fa fa-map-marker"></i> {% trans "Maps" %}</a></li>
      <li><a href="#documents" data-toggle="tab"><i class="fa fa-file-text-o"></i> {% trans "Documents" %}</a></li>
      <li><a href="#comments" data-toggle="tab"><i class="fa fa-comment-o"></i> {% trans "Comments" %}</a></li>
    </ul>
    <div class="tab-content">
      <article id="all" class="tab-pane active">
        <ul class="no-style-list">
        {% for action in action_list %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="layers" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_layers %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="maps" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_maps %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="documents" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_documents %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
      <article id="comments" class="tab-pane">
        <ul class="no-style-list">
        {% for action in action_list_comments %}
          {% activity_item action %}
          {% empty %}
          <p>{% trans "No actions yet" %}</p>
        {% endfor %}
        </ul>
      </article>
    </div>
  </div>
</div>
{% endblock %}