{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}
{% load static %}
{% block title %} {{ block.super }} - {% trans "Applications" %} {% endblock %}

{% block body_class %}appinstances appinstances-list explore{% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}
{% endblock %}
{% block body %}
    <link href="{% static 'app_manager/apps_list.css' %}" rel="stylesheet">
    {% if user.is_staff %}

        <div class="page-header">
            <a href="{% url 'manage_apps' %}" class="btn btn-primary pull-right">{% trans "Manage Apps" %}</a>
            <h2>{% trans "Explore Apps" %}</h2>
        </div>

    {% endif %}

    <div id="page-wrapper">

        <div class="container-fluid">

            <h2>Apps List</h2>
            <div class="list-group">
                {% for app in apps %}
                    <div class="row list-group-item" style="margin: 5px;padding: 20px">
                        <div class="col-lg-4">
                            <h4 class="list-group-item-heading" id="app_name">{{ app.title }}</h4>
                            {% if app.message %}
                                <span class="label label-warning">{{ app.message }}</span>
                            {% endif %}

                        </div>
                        <div class="col-lg-8 handler">
                            {{ app.description }}
                            {% if app.status == 'installed' %}
                                <a href="" class="btn btn-primary pull-right" data-value="{{ app.name }}" disabled>installed</a>
                            {% elif app.status == 'outdated' %}
                                {% if app.message %}
                                    <span><i>this app is outdated</i></span>
                                    <a href="" class="btn btn-primary pull-right" data-value="{{ app.name }}"
                                       disabled>Update</a>
                                {% else %}
                                    <span><i>this app is outdated</i></span>
                                    <a href="" class="btn btn-primary pull-right" data-value="{{ app.name }}">Update</a>
                                {% endif %}

                            {% elif app.status == 'Uninstall' %}
                                <a href="" class="btn btn-danger pull-right" data-value="{{ app.name }}">Uninstall</a>
                            {% else %}
                                {% if app.message %}
                                    <a href="" class="btn btn-primary pull-right" data-value="{{ app.name }}"
                                       disabled>Install</a>
                                {% else %}
                                    <a href="" class="btn btn-primary pull-right"
                                       data-value="{{ app.name }}">Install</a>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>

{% endblock %}
{% block extra_script %}
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/app_managements.js' %}"></script>

{% endblock extra_script %}
