<div layout="column">
    <md-list>
        <md-list-item class="md-3-line " ng-repeat="c in comment.list.objects">
            <img ng-src="{{c.user.avatar}}" class="md-avatar"/>
            <div class="md-list-item-text">
                <h3>{{ c.user.username }}</h3>
                <p style="white-space: pre;">{{ c.comment }}</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-input-container md-no-float	class="md-block">
        <label>Add Comment</label>
        <textarea ng-model="comment.newCommentText" placeholder="Comment"
                  ng-keypress="onKeyPress($event)"></textarea>
    </md-input-container>
    <md-button class="md-primary" ng-click="addComment()">
        <md-icon>send</md-icon> Submit
    </md-button>

</div>